				<form class="a form app form-horizontal" id="dx-form-data-validate" data-parsley-errors-messages-disabled method="post">
					<input type="hidden" id="dx_ajax" name="ajax" value="true" />
					<input type="hidden" id="dx_token_key" name="token_key" value="<%=meta.token_key%>" />
					<input type="hidden" id="dx_profile_id" name="profile_id" value="<%=data.dataset?.profile_id%>" />
					<input type="hidden" id="dx_survey_id" name="survey_id" value="<%=data.dataset?.survey_id%>" />
					<input type="hidden" id="dx_master_id" name="master_id" value="<%=data.dataset?.master_id%>" />
					<input type="hidden" id="dx_column_id" name="column_id" value="<%=data.dataset?.column_id%>" />
					<label>แบบสำรวจข้อมูลการให้สินบนหรือถูกเรียกรับสินบนจากหน่วยงานของรัฐหรือเจ้าหน้าที่รัฐ (ผนวก ง) </label><br/>
					<label>3.2 แบบบันทึกข้อมูลการกระทำผิด</label>
					<div class="row indent">
						<label for="A2" class="col-form-label nText col-lg-3">3.2.1 พฤติกรรมโดยย่อพอสังเขป<span class="star"> *</span></label>
						<div class="col-lg-5">
							<textarea class="form-control" id="SDX_3" name="SDX_3" data-parsley-required="true"><%=data.dataset?.SDX_3%></textarea>
						</div>
					</div>
					<div class="row indent">
						<label for="A2" class="col-form-label nText col-lg-3">3.2.2 ประเภทความผิด<span class="star"> *</span></label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_4_1" name="SDX_4" value="1" <%=page.checked("1",data.dataset?.SDX_4)%> data-parsley-required="true" /> (1) ถูกเรียกสินบนโดยเจ้าหน้าที่รัฐแลกกับการอำนวยความสะดวกหรือไม่จับกุม
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_4_2" name="SDX_4" value="2" <%=page.checked("2",data.dataset?.SDX_4)%> /> (2) ถูกเรียกสินบนโดยเจ้าหน้าที่รัฐแลกกับการรับโครงการภาครัฐ หรือการจัดซื้อจัดจ้างของภาครัฐ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_4_3" name="SDX_4" value="3" <%=page.checked("3",data.dataset?.SDX_4)%> /> (3) ถูกเรียกสินบนโดยเจ้าหน้าที่รัฐแลกกับการอำนวยความสะดวกหรือเร่งรัดเกี่ยวกับขออนุญาต หรือการพิจารณาต่าง ๆ ของเจ้าหน้าที่ภาครัฐ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_4_4" name="SDX_4" value="4" <%=page.checked("4",data.dataset?.SDX_4)%> /> (4) การให้ของขวัญหรือของกำนัล หรือการให้ตอบแทนในรูปแบบอื่นๆ เช่น การเชิญไปรับประทานอาหาร ให้ของขวัญซึ่งเป็นการพยายามสร้างความสัมพันธ์อันใกล้ชิดเพื่อเอื้อประโยชน์จากการใช้อำนาจหน้าที่ของเจ้าหน้าที่ของรั
							</label>
						</div>
					</div>
					<div class="row indent">
						<label for="A2" class="col-form-label nText col-lg-3">3.2.3 ลักษณะความผิด<span class="star"> *</span></label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_5_1" name="SDX_5" value="1" <%=page.checked("1",data.dataset?.SDX_5)%> data-parsley-required="true" /> (1) การเรียกรับสินบนเล็กน้อย (การรับเงินที่ไม่ชอบธรรม หรือไม่ถูกต้องของเจ้าหน้าที่ของรัฐ เป็นจำนวนเงินที่ไม่มากนัก เพื่อดำเนินการบางอย่างให้กับผู้ที่ให้เงิน
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_5_2" name="SDX_5" value="2" <%=page.checked("2",data.dataset?.SDX_5)%> /> (2) การเรียกรับสินบนขนาดใหญ่ (การเรียกรับสินบนหรือค่าตอบแทนซึ่งมักเป็นการคอร์รัปชั่นของเจ้าหน้าที่ระดับสูงในหน่วยงานของรัฐที่รับเงินในรูปแบบของสินบนเป็นเงินจำนวนสูง ในโครงการใหญ่ๆของรัฐ เป็นต้น
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_5_3" name="SDX_5" value="3" <%=page.checked("3",data.dataset?.SDX_5)%> /> (3) การให้ของขวัญหรือของกำนัล (การคอร์รัปชันอีกประเภทหนึ่งเป็นการให้ตอบแทนในรูปแบบสิ่งของ หรือการให้ตอบแทนในรูปแบบอื่นๆ เช่น การเชิญไปรับประทานอาหาร ให้ของขวัญซึ่งเป็นการพยายามสร้างความสัมพันธ์อันใกล้ชิด)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_5_4" name="SDX_5" value="4" <%=page.checked("4",data.dataset?.SDX_5)%> /> (4) ผลประโยชน์ทับซ้อน (การคอร์รัปชันอีกประเภทหนึ่งในลักษณะที่ไม่ได้ให้ผลตอบแทนโดยตรงแต่เป็นการเอื้อประโยชน์ทางอ้อม เช่น การได้โครงการของรัฐแต่ต้องตอบแทนโดยจัดซื้อวัตถุดิบจากบริษัทห้างร้านที่เจ้าของโครงการกำหนด การให้ตำแหน่งที่ปรึกษาทางธุรกิจเพื่อแลกเปลี่ยนกับการชี้ช่องว่างทางกฎหมาย เป็นต้น)
							</label>
						</div>
					</div>
					<div class="row indent">
						<label for="A2" class="col-form-label nText col-lg-5">3.2.4 สินบนหรือของกำนัลที่ให้คือสิ่งใด (ตอบได้มากกว่าหนึ่งอย่าง)<span class="star"> *</span></label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_6_1" name="SDX_6" value="1" <%=page.checked("1",data.dataset?.SDX_6)%> data-parsley-required="true" /> (1) เงิน
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_6_2" name="SDX_6" value="2" <%=page.checked("2",data.dataset?.SDX_6)%> /> (2) อาหารหรือเครื่องดื่ม
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_6_3" name="SDX_6" value="3" <%=page.checked("3",data.dataset?.SDX_6)%> /> (3) สิ่งของมีค่า (อาทิเช่น เครื่องประดับ รถยนต์ ฯลฯ)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_6_4" name="SDX_6" value="4" <%=page.checked("4",data.dataset?.SDX_6)%> /> (4) การแลกเปลี่ยนกับบริการหรือความช่วยเหลืออื่น
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_6_5" name="SDX_6" value="5" <%=page.checked("5",data.dataset?.SDX_6)%> /> (5) อื่นๆ
							</label>
							<div class="row indent">
								<div class="col-form-label inputTextFix" style="margin-left: 25px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="SDX_6_text" name="SDX_6_text" value="<%=data.dataset?.SDX_6_text%>" maxlength="100" readonly />
								</div>
							</div>
						</div>
					</div>
					<div class="row indent">
						<label for="A2" class="col-form-label nText col-lg-5">3.2.5 ท่านทราบได้อย่างไรว่าจะต้องมีการจ่ายเงินหรือมอบของขวัญ<span class="star"> *</span></label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_7_1" name="SDX_7" value="1" <%=page.checked("1",data.dataset?.SDX_7)%> data-parsley-required="true" /> (1) คำร้องขอโดยตรงจากเจ้าหน้าที่
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_7_2" name="SDX_7" value="2" <%=page.checked("2",data.dataset?.SDX_7)%> /> (2) เจ้าหน้าที่ร้องขอทางอ้อม
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_7_3" name="SDX_7" value="3" <%=page.checked("3",data.dataset?.SDX_7)%> /> (3) บุคคลที่สามร้องขอ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_7_4" name="SDX_7" value="4" <%=page.checked("4",data.dataset?.SDX_7)%> /> (4) ความต้องการส่วนตัวของตนเอง เพื่ออำนวยความสะดวก/เร่งกระบวนการ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_7_5" name="SDX_7" value="5" <%=page.checked("5",data.dataset?.SDX_7)%> /> (5) อื่นๆ
							</label>
							<div class="row indent">
								<div class="col-form-label inputTextFix" style="margin-left: 25px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="SDX_7_text" name="SDX_7_text" value="<%=data.dataset?.SDX_7_text%>" maxlength="100" readonly />
								</div>
							</div>
						</div>
					</div>
					<div class="row indent">
						<label for="A2" class="col-form-label nText col-lg-5">3.2.6 มูลค่าของสิ่งที่ท่านให้สินบนหรือถูกเรียกสินบนโดยเจ้าหน้าที่ของรัฐ<span class="star"> *</span></label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_8_1" name="SDX_8" value="1" <%=page.checked("1",data.dataset?.SDX_8)%> data-parsley-required="true" /> (1) ไม่มี
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_8_2" name="SDX_8" value="2" <%=page.checked("2",data.dataset?.SDX_8)%> /> (2) มี
							</label>
							<div class="row indent">
								<div class="col-form-label inputTextFix" style="margin-left: 25px;">
									มูลค่าโดยรวมประมาณ
								</div>
								<div class="col-lg-3">
									<input type="number" class="form-control iint" id="SDX_8_text" name="SDX_8_text" value="<%=data.dataset?.SDX_8_text%>" maxlength="20" min="0" readonly />
								</div>
								<div class="col-form-label inputTextFix" style="margin-left: 25px;">
									บาท
								</div>
							</div>
						</div>
					</div>
					<div class="row indent">
						<label for="A2" class="col-form-label nText col-lg-7">3.2.7 ท่านได้ร้องเรียนหรือรายงานต่อหน่วยงานของรัฐ (เช่น ตำรวจ อัยการ หน่วยงานต่อต้านการทุจริต ฯลฯ) หรือหน่วยงานที่ไม่เป็นทางการใด ๆ (เช่น สื่อและช่องทางโซเชียลมีเดีย) หรือไม่<span class="star"> *</span></label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_9_1" name="SDX_9" value="1" <%=page.checked("1",data.dataset?.SDX_9)%> data-parsley-required="true" /> (1) ใช่
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_9_2" name="SDX_9" value="2" <%=page.checked("2",data.dataset?.SDX_9)%> /> (2) ไม่ใช่
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_9_3" name="SDX_9" value="3" <%=page.checked("3",data.dataset?.SDX_9)%> /> (3) อื่น ๆ
							</label>
							<div class="row indent">
								<div class="col-form-label inputTextFix" style="margin-left: 25px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="SDX_9_text" name="SDX_9_text" value="<%=data.dataset?.SDX_9_text%>" maxlength="100" readonly />
								</div>
							</div>
						</div>
					</div>
					<div class="row indent">
						<label for="A2" class="col-form-label nText col-lg-8">3.2.8 หากท่านเคยร้องเรียนหรือรายงานเหตุดังกล่าวไปยังหน่วยงานทางการของรัฐ ท่านได้แจ้งไปที่หน่วยงานใด</label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_10_1" name="SDX_10" value="1" <%=page.checked("1",data.dataset?.SDX_10)%> /> (1) ตำรวจ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_10_2" name="SDX_10" value="2" <%=page.checked("2",data.dataset?.SDX_10)%> /> (2) สำนักงานคณะกรรมการป้องกันและปราบปรามการทุจริตแห่งชาติ (ป.ป.ช.)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_10_3" name="SDX_10" value="3" <%=page.checked("3",data.dataset?.SDX_10)%> /> (3) สำนักงานคณะกรรมการป้องกันและปราบปรามการทุจริตในภาครัฐ (ป.ป.ท.)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_10_4" name="SDX_10" value="4" <%=page.checked("4",data.dataset?.SDX_10)%> /> (4) หน่วยงาน/สถาบันเดียวกันกับเจ้าหน้าที่ที่ร้องขอสินบน
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_10_5" name="SDX_10" value="5" <%=page.checked("5",data.dataset?.SDX_10)%> /> (5) กรมสอบสวนคดีพิเศษ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_10_6" name="SDX_10" value="6" <%=page.checked("6",data.dataset?.SDX_10)%> /> (6) ช่องทางร้องเรียนของรัฐ (ศูนย์ดำรงธรรม)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_10_7" name="SDX_10" value="7" <%=page.checked("7",data.dataset?.SDX_10)%> /> (7) หน่วยงานราชการอื่น ๆ
							</label>
							<div class="row indent">
								<div class="col-form-label inputTextFix" style="margin-left: 25px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="SDX_10_text" name="SDX_10_text" value="<%=data.dataset?.SDX_10_text%>" maxlength="100" readonly />
								</div>
							</div>
						</div>
					</div>
					<div class="row indent">
						<label for="A2" class="col-form-label nText col-lg-8">3.2.9 หากท่านเคยร้องเรียนหรือรายงานเหตุการณ์ดังกล่าวไปยังหน่วยงานที่ไม่เป็นทางการ ท่านได้แจ้งไปที่หน่วยงานใด</label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_11_1" name="SDX_11" value="1" <%=page.checked("1",data.dataset?.SDX_11)%> /> (1) สื่อมวลชน
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_11_2" name="SDX_11" value="2" <%=page.checked("2",data.dataset?.SDX_11)%> /> (2) องค์การระหว่างประเทศ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_11_3" name="SDX_11" value="3" <%=page.checked("3",data.dataset?.SDX_11)%> /> (3) องค์กรพัฒนาเอกชน (NGO)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_11_4" name="SDX_11" value="4" <%=page.checked("4",data.dataset?.SDX_11)%> /> (4) โซเชียลมีเดีย ( Facebook , Twitter , Line , Instagram)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_11_5" name="SDX_11" value="5" <%=page.checked("5",data.dataset?.SDX_11)%> /> (5) หน่วยงานที่ไม่เป็นทางการอื่น ๆ
							</label>
							<div class="row indent">
								<div class="col-form-label inputTextFix" style="margin-left: 25px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="SDX_11_text" name="SDX_11_text" value="<%=data.dataset?.SDX_11_text%>" maxlength="100" readonly />
								</div>
							</div>
						</div>
					</div>
					<div class="row indent">
						<label for="A2" class="col-form-label nText col-lg-8">3.2.10 หากท่านไม่ได้ร้องเรียนหรือรายงานถึงเหตุการณ์การให้สินบนหรือถูกเรียกสินบนโดยเจ้าหน้าที่ของรัฐ เหตุใดท่านถึงไม่รายงาน</label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_12_1" name="SDX_12" value="1" <%=page.checked("1",data.dataset?.SDX_12)%> /> (1) คิดว่าเป็นเรื่องปกติในการจ่ายหรือให้ของขวัญ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_12_2" name="SDX_12" value="2" <%=page.checked("2",data.dataset?.SDX_12)%> /> (2) คิดว่าไม่มีประโยชน์ ไม่มีหน่วยงานให้ความสนใจ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_12_3" name="SDX_12" value="3" <%=page.checked("3",data.dataset?.SDX_12)%> /> (3) ไม่ทราบว่าจะต้องร้องเรียนกับหน่วยงานใด
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_12_4" name="SDX_12" value="4" <%=page.checked("4",data.dataset?.SDX_12)%> /> (4) กลัวส่งผลเสียต่อตัวตนเอง
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_12_5" name="SDX_12" value="5" <%=page.checked("5",data.dataset?.SDX_12)%> /> (5) ตนเองได้รับผลประโยชน์
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="SDX_12_6" name="SDX_12" value="6" <%=page.checked("6",data.dataset?.SDX_12)%> /> (6) เหตุผลอื่นๆ
							</label>
							<div class="row indent">
								<div class="col-form-label inputTextFix" style="margin-left: 25px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="SDX_12_text" name="SDX_12_text" value="<%=data.dataset?.SDX_12_text%>" maxlength="100" readonly />
								</div>
							</div>
						</div>
					</div>
				</form>
