<!DOCTYPE html>
<html lang="en">
<head>
	<title>Survey List</title>
	<%- include('../asset/meta') %>		
	<%- include('../asset/styles') %>		
	<%- include('../asset/scripts') %>
	<link rel="stylesheet" type="text/css" href="<%=meta.cdn_url%>/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="<%=meta.cdn_url%>/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" />
	<script type="text/javascript" src="<%=meta.cdn_url%>/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="<%=meta.cdn_url%>/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="<%=meta.cdn_url%>/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" src="<%=meta.cdn_url%>/assets/plugins/parsley/dist/parsley.js"></script>
	<link rel="stylesheet" type="text/css" href="<%=meta.cdn_url%>/survey/survey_listalls.css" />
	<script type="text/javascript" src="<%=meta.cdn_url%>/survey/survey_listalls.js"></script>
</head>
<body>
	<%- include('../partials/page_waiting') %>
	<div id="page-container" class="page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer page-without-sidebar">
		<%- include('../partials/page_header') %>
		<div class="panel container panel-container">
			<div class="body">
				<h4>โครงการสำรวจข้อมูลสถิติอาชญากรรมภาคประชาชนและโครงการจัดเก็บข้อมูลตัวชี้วัดและวิเคราะห์สถานการณ์อาชญากรรมและกระบวนการยุติธรรมของประเทศไทย</h4>
				<a href="javascript:void(0);" id="addsurveylinker" class="btn btn-default ui green button "><i class="plus icon small"></i> สำรวจข้อมูลใหม่</a>
				<a href="javascript:void(0);" id="export-linker" class="btn btn-default ui blue button"><i class="download icon small"></i> นำออกข้อมูลแบบสำรวจ</a>
				<div class="page-title"><h1 class="page-header">รายการแบบสำรวจ</h1></div>
				<input type="hidden" id="token_key" name="token_key" value="<%=meta.token_key%>" />
				<div id="listtablepanel" class="table-responsive">
					<table id="data-table" class="table table-bordered table-hover table-striped table-td-valign-middle">
						<thead>
							<tr class="inverse">
								<th class="text-center">แบบสำรวจลำดับที่</th>
								<th class="text-center">บ้านเลขที่</th>
								<th class="text-center">จังหวัด</th>
								<th class="text-center">เพศ</th>
								<th class="text-center">อายุ</th>
								<th class="text-center">ผู้สำรวจ</th>
								<th class="text-center">แก้ไข</th>
							</tr>
						</thead>
						<tbody id="data-table-body">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
