			<div class="body" id="profile-form-data-layer">
				<form class="a form app form-horizontal" id="profile-form-data-validate" name="form-data-validate" data-parsley-errors-messages-disabled data-parsley-inputs="input:not([type='checkbox']), textarea, select" method="post">
					<input type="hidden" id="ajax" name="ajax" value="true" />
					<input type="hidden" id="userid" name="userid" value="<%=meta.user?.userid%>" />
					<input type="hidden" id="profile_id" name="profile_id" value="<%=data.dataset?.profile_id%>" />
					<input type="hidden" id="master_id" name="master_id" value="<%=data.dataset?.master_id%>" />
					<div class="container" style="text-align: right;">
						<div class="line indent row">
							<label class="col-form-label nText">ผู้สำรวจ</label>
							<div class="col-lg-3">
								<input type="text" class="form-control" id="creator_name" value="<%=data.dataset?.creator_name%>" readonly />
							</div>
						</div>
						<div class="line indent row">
							<label class="col-form-label nText">แบบสำรวจลำดับที่</label>
							<div class="col-lg-3">
								<input type="text" class="form-control" id="profile_code" name="profile_code" value="<%=data.dataset?.profile_code%>" readonly />
							</div>
						</div>
					</div>
					<label for="wight">ส่วนที่ 1 ข้อมูลเกี่ยวกับผู้ตอบแบบสอบถาม</label>
					<div class="p-fluid p-formgrid p-grid">
						<div class="p-field p-col">
							<div class="row">
								<label class="col-form-label">A1 ข้อมูลส่วนบุคคล</label></br>
							</div>
							<div class="row indent">
								<label class="col-form-label nText col-lg-3">A2 บ้านเลขที่<span class="star"> *</span></label>
								<div class="col-lg-2">
									<input type="text" class="form-control" id="A2" name="A2" data-parsley-required="true" value="<%=data.dataset?.A2%>" />
								</div>
							</div>
							<div class="row indent">
								<label class="col-form-label nText col-lg-3">A3 พิกัดบ้าน (NS) (EW)<span class="star"> *</span></label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="A3" name="A3" data-parsley-required="true" value="<%=data.dataset?.A3%>" />
								</div>
							</div>
							<div class="row">
								<label class="nText">หมายเหตุ : ข้อมูลที่จัดเก็บจากการสำรวจครั้งนี้จะถูกเก็บไว้เป็นความลับ และถูกนำมาใช้วิเคราะห์ในภาพรวมเพื่อประโยชน์สำหรับการดำเนินงานของสำนักงานกิจการยุติธรรม กระทรวงยุติธรรม เท่านั้น</label></br>
							</div>
							<div class="row">
								<label class="col-form-label">A4 พื้นที่<span class="star"> *</span></label>
								<div class="col-lg-12">
									<div style="width: 50%; float:left;">
										<div class="row" style="margin-left: 10px; padding-top: 13px;">
											<input type="radio" id="A4_1" name="A4" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A4)%> />
											<label for="A4_1" class="radio-inline " style="align-self: center;">(A4.1) กรุงเทพมหานคร</label>
											<input type="hidden" id="province_1" name="A4_1_1" value="10" />
											<input type="hidden" id="A4_1_1_text" name="A4_1_1_text" value="กรุงเทพมหานคร" />
										</div>
										<div class="row" style=" padding-top: 13px;">
											<label class="radio-inline col-lg-3" style="align-self: center; margin-left: 40px;">เขต<span class="star"> *</span></label>
											<label class="radio-inline col-form-label  col-lg-5">
												<input type="hidden" id="A4_1_2_text" name="A4_1_2_text" value="<%=data.dataset?.A4_1_2_text%>" />
												<fieldset class="select-box A4-1-set" disabled><legend class="fa-hidden"></legend>
												<select name="A4_1_2" id="amphure_1" class="form-control A4-1-required" data-value="<%=data.dataset?.A4_1_2%>">
													<option value="">เลือกเขต</option>
												</select>
												</fieldset>
											</label>
										</div>
										<div class="row">
											<label class="radio-inline col-lg-3" style="align-self: center; margin-left: 40px;">แขวง<span class="star"> *</span></label>
											<label class="radio-inline col-form-label  col-lg-5">
												<input type="hidden" id="A4_1_3_text" name="A4_1_3_text" value="<%=data.dataset?.A4_1_3_text%>" />
												<fieldset class="select-box A4-1-set" disabled><legend class="fa-hidden"></legend>
												<select name="A4_1_3" id="district_1" class="form-control A4-1-required" data-value="<%=data.dataset?.A4_1_3%>">
													<option value="">เลือกแขวง</option>
												</select>
												</fieldset>
											</label>
										</div>
										<div class="row">
											<label class="radio-inline col-lg-3" style="align-self: center; margin-left: 40px;">เขตสถานีตำรวจ<span class="star"> *</span></label>
											<label class="radio-inline col-form-label  col-lg-5">
												<input type="text" class="form-control A4-1-text A4-1-required" id="A4_1_4" name="A4_1_4" data-parsley-required="true" value="<%=data.dataset?.A4_1_4%>" readonly />
											</label>
										</div>
									</div>
									<div style="width: 50%; float:right;">
										<div class="row" style="margin-left: 10px;">
											<input type="radio" id="A4_2" name="A4" value="2" <%=page.checked("2",data.dataset?.A4)%> />
											<label for="A4_2" class="radio-inline col-lg-5" style="align-self: center;">(A4.2) จังหวัดอื่นๆ (ระบุ)</label>
										</div>
										<div class="row">
											<label class="radio-inline col-lg-45" style="align-self: center; margin-left: 30px;">จังหวัด<span class="star"> *</span></label>
											<label class="radio-inline col-form-label  col-lg-5">
												<input type="hidden" id="A4_2_1_text" name="A4_2_1_text" value="<%=data.dataset?.A4_2_1_text%>" />
												<fieldset class="select-box A4-2-set" disabled><legend class="fa-hidden"></legend>
												<select name="A4_2_1" id="province_2" class="form-control A4-2-required" data-value="<%=data.dataset?.A4_2_1%>">
													<option value="">เลือกจังหวัด</option>
												</select>
												</fieldset>
											</label>
										</div>
										<div class="row">
											<label class="radio-inline col-lg-45" style="align-self: center; margin-left: 30px;">อำเภอ<span class="star"> *</span></label>
											<label class="radio-inline col-form-label  col-lg-5">
												<input type="hidden" id="A4_2_2_text" name="A4_2_2_text" value="<%=data.dataset?.A4_2_2_text%>" />
												<fieldset class="select-box A4-2-set" disabled><legend class="fa-hidden"></legend>
												<select name="A4_2_2" id="amphure_2" class="form-control A4-2-required" data-value="<%=data.dataset?.A4_2_2%>">
													<option value="">เลือกอำเภอ</option>
												</select>
												</fieldset>
											</label>
										</div>
										<div class="row">
											<label class="radio-inline col-lg-45" style="align-self: center; margin-left: 30px;">ตำบล<span class="star"> *</span></label>
											<label class="radio-inline col-form-label  col-lg-5">
												<input type="hidden" id="A4_2_3_text" name="A4_2_3_text" value="<%=data.dataset?.A4_2_3_text%>" />
												<fieldset class="select-box A4-2-set" disabled><legend class="fa-hidden"></legend>
												<select name="A4_2_3" id="district_2" class="form-control A4-2-required" data-value="<%=data.dataset?.A4_2_3%>">
													<option value="">เลือกตำบล</option>
												</select>
												</fieldset>
											</label>
										</div>
										<div class="row">
											<label class="radio-inline col-lg-45" style="align-self: center; margin-left: 30px;">เขตสถานีตำรวจ<span class="star"> *</span></label>
											<label class="radio-inline col-form-label  col-lg-5">
												<input type="text" class="form-control A4-2-text A4-2-required" id="A4_2_4" name="A4_2_4" data-parsley-required="true" value="<%=data.dataset?.A4_2_4%>" readonly />
											</label>
										</div>
										<div class="row">
											<label class="radio-inline col-lg-45" style="align-self: center; margin-left: 30px;">อบต./ท.ตำบล/ท.เมือง/ท.นคร<span class="star"> *</span></label>
											<label class="radio-inline col-form-label  col-lg-5">
												<input type="text" class="form-control A4-2-text A4-2-required" id="A4_2_5" name="A4_2_5" data-parsley-required="true" value="<%=data.dataset?.A4_2_5%>" readonly />
											</label>
										</div>
									</div>
								</div>
							</div>
							<label for="wight">ข้อมูลบุคคลของผู้ตอบแบบสอบถาม (ผู้แทนครัวเรือน)</label>
							<div class="row">
								<label class="col-form-label">1. เพศ<span class="star"> * </span></label>
								<div class="col-lg-2">
									<label class="radio-inline col-form-label">
										<input type="radio" id="A_01_1" name="A_01" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A_01)%> /> (1) ชาย
									</label>
								</div>
								<div class="col-lg-2">
								<label class="radio-inline col-form-label">
									<input type="radio" id="A_01_2" name="A_01" value="2" <%=page.checked("2",data.dataset?.A_01)%> /> (2) หญิง
								</label>
								</div>
								<div class="col-lg-4">
								<label class="radio-inline col-form-label">
									<input type="radio" id="A_01_3" name="A_01" value="3" <%=page.checked("3",data.dataset?.A_01)%> /> (3) เพศทางเลือก
								</label>
								</div>
							</div>
							<div class="row">
								<label class="col-form-label">2. อายุ<span class="star"> *</span></label>
								<div class="col-lg-4">
									<div class="row">
										<div class="col-lg-2">
											<label class="radio-inline col-form-label">
												<input type="radio" id="A_02_1" name="A_02" value="0" data-parsley-required="true" <%=page.checked("0",data.dataset?.A_02)%> /> ระบุ
											</label>	
										</div>
										<div class="col-lg-4">
											<input type="number" class="form-control iint" oninput="maxLengthCheck(this)" min="0" max="150" maxlength="3" id="A_02_text" name="A_02_text" value="<%=data.dataset?.A_02_text%>" />
										</div>
										<span class="col-form-label lol-lg">
											ปี (เต็มปีบริบูรณ์)
										</span>
									</div>
								</div>
								<label class="radio-inline col-form-label  col-lg-2">
									<input type="radio" id="A_02_2" name="A_02" value="1" <%=page.checked("1",data.dataset?.A_02)%> />(1) ไม่ทราบ
								</label>
								<label class="radio-inline col-form-label  col-lg-2">
									<input type="radio" id="A_02_3" name="A_02" value="2" <%=page.checked("2",data.dataset?.A_02)%> />(2) ไม่ประสงค์จะตอบ
								</label>
							</div>
							<div class="row">
								<label class="col-form-label">3. รายได้ครัวเรือน<span class="star"> *</span></label>
								<div class="col-lg-12">
									<label class="radio-inline col-form-label  col-lg-3" style="margin-left: 10px;">
										<input type="radio" id="A_03_1" name="A_03" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A_03)%> /> (1) ไม่เกิน 15,000 บาท
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_03_2" name="A_03" value="2" <%=page.checked("2",data.dataset?.A_03)%> /> (2) 15,001-25,000 บาท
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_03_3" name="A_03" value="3" <%=page.checked("3",data.dataset?.A_03)%> /> (3) 25,001-35,000 บาท
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_03_4" name="A_03" value="4" <%=page.checked("4",data.dataset?.A_03)%> /> (4) 35,001-45,000 บาท
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_03_5" name="A_03" value="5" <%=page.checked("5",data.dataset?.A_03)%> /> (5) 45,001-55,000 บาท
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_03_6" name="A_03" value="6" <%=page.checked("6",data.dataset?.A_03)%> /> (6) 55,001-65,000 บาท
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_03_7" name="A_03" value="7" <%=page.checked("7",data.dataset?.A_03)%> /> (7) 65,001-75,000 บาท
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_03_8" name="A_03" value="8" <%=page.checked("8",data.dataset?.A_03)%> /> (8) มากกว่า 75,000 บาท
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_03_9" name="A_03" value="9" <%=page.checked("9",data.dataset?.A_03)%> /> (9) ไม่ประสงค์จะตอบ
									</label>
								</div>
							</div>
							<div class="row">
								<label class="col-form-label">4. ครัวเรือนของท่านมีระดับรายได้เพียงพอต่อการดำรงชีวิตและค่าใช้จ่ายพื้นฐานมากน้อยเพียงใด <span class="star"> *</span></label>
								<div class="col-lg-12">
									<label class="radio-inline col-form-label  col-lg-3" style="margin-left: 10px;">
										<input type="radio" id="A_04_1" name="A_04" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A_04)%> /> (1) มีฐานะร่ำรวย (สามารถจับจ่ายใช้สอย โดยมีเงินเหลือเก็บจำนวนมาก)
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_04_2" name="A_04" value="2" <%=page.checked("2",data.dataset?.A_04)%> /> (2) สามารถจับจ่ายใช้สอยได้อย่างสบาย มีเงินเหลือเก็บ
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_04_3" name="A_04" value="3" <%=page.checked("3",data.dataset?.A_04)%> /> (3) พอกินพอใช้ แต่ไม่มีเงินเหลือเก็บ
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_04_4" name="A_04" value="4" <%=page.checked("4",data.dataset?.A_04)%> /> (4) รายได้ไม่เพียงพอต่อค่าใช้จ่าย โดยยังขาดเหลืออยู่บ้าง
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_04_5" name="A_04" value="5" <%=page.checked("5",data.dataset?.A_04)%> /> (5) ขัดสน มีชีวิตอยู่อย่างยากลำบาก
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_04_6" name="A_04" value="6" <%=page.checked("6",data.dataset?.A_04)%> /> (6) ลำบากยากจน มีรายได้ในระดับที่ต้องใช้ชีวิตอย่างยากลำบากมาก
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_04_7" name="A_04" value="7" <%=page.checked("7",data.dataset?.A_04)%> /> (7) ไม่ทราบ
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_04_8" name="A_04" value="8" <%=page.checked("8",data.dataset?.A_04)%> /> (8) ไม่ประสงค์จะตอบ
									</label>
								</div>
							</div>
							<div class="row">
								<label class="col-form-label">5. อาชีพ<span class="star"> *</span></label>
								<div class="col-lg-12">
									<label class="radio-inline col-form-label  col-lg-3" style="margin-left: 10px;">
										<input type="radio" id="A_05_1" name="A_05" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A_05)%> /> (1) ข้าราชการ พนักงานรัฐวิสาหกิจ
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_05_2" name="A_05" value="2" <%=page.checked("2",data.dataset?.A_05)%> /> (2) พนักงานเอกชน
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_05_3" name="A_05" value="3" <%=page.checked("3",data.dataset?.A_05)%> /> (3) นักเรียน/นักศึกษา
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_05_4" name="A_05" value="4" <%=page.checked("4",data.dataset?.A_05)%> /> (5) รับจ้างทั่วไป
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_05_5" name="A_05" value="5" <%=page.checked("5",data.dataset?.A_05)%> /> (5) เกษตรกรรม
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_05_6" name="A_05" value="6" <%=page.checked("6",data.dataset?.A_05)%> /> (6) ประกอบธุรกิจ
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_05_7" name="A_05" value="7" <%=page.checked("7",data.dataset?.A_05)%> /> (7) ไม่ได้ประกอบอาชีพ
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_05_8" name="A_05" value="8" <%=page.checked("8",data.dataset?.A_05)%> /> (8) อื่น ๆ...
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_05_9" name="A_05" value="9" <%=page.checked("9",data.dataset?.A_05)%> /> (9) ไม่ประสงค์จะตอบ
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-form-label inputTextFix" style="margin-left: 10px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="A_05_text" name="A_05_text" maxlength="100" value="<%=data.dataset?.A_05_text%>" readonly />
								</div>
							</div>
							<div class="row">
								<label class="col-form-label">6. การศึกษาระดับสูงสุด<span class="star"> *</span></label>
								<div class="col-lg-12">
									<label class="radio-inline col-form-label  col-lg-3" style="margin-left: 10px;">
										<input type="radio" id="A_06_1" name="A_06" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A_06)%> /> (1) ไม่เคยเข้ารับการศึกษา
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_06_2" name="A_06" value="2" <%=page.checked("2",data.dataset?.A_06)%> /> (2) การศึกษาทางเลือกนอกโรงเรียน (อาทิ Home School)
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_06_3" name="A_06" value="3" <%=page.checked("3",data.dataset?.A_06)%> /> (3) ประถมศึกษา
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_06_4" name="A_06" value="4" <%=page.checked("4",data.dataset?.A_06)%> /> (4) มัธยมศึกษาตอนต้น
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_06_5" name="A_06" value="5" <%=page.checked("5",data.dataset?.A_06)%> /> (5) มัธยมศึกษาตอนปลาย
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_06_6" name="A_06" value="6" <%=page.checked("6",data.dataset?.A_06)%> /> (6) ปวช.
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_06_7" name="A_06" value="7" <%=page.checked("7",data.dataset?.A_06)%> /> (7) ปวส.
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_06_8" name="A_06" value="8" <%=page.checked("8",data.dataset?.A_06)%> /> (8) ปริญญาตรี
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_06_9" name="A_06" value="9" <%=page.checked("9",data.dataset?.A_06)%> /> (9) ปริญญาโท
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_06_10" name="A_06" value="10" <%=page.checked("10",data.dataset?.A_06)%> /> (10) สูงกว่าปริญญาโท
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_06_11" name="A_06" value="11" <%=page.checked("11",data.dataset?.A_06)%> /> (11) การศึกษาในรูปแบบอื่น...
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_06_12" name="A_06" value="12" <%=page.checked("12",data.dataset?.A_06)%> /> (12) ไม่ทราบ
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_06_13" name="A_06" value="13" <%=page.checked("13",data.dataset?.A_06)%> /> (13) ไม่ประสงค์จะตอบ
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-form-label inputTextFix" style="margin-left: 10px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="A_06_text" name="A_06_text" maxlength="100" value="<%=data.dataset?.A_06_text%>" readonly />
								</div>
								<div class="col-form-label inputTextFix" style="margin-left: 10px;">
									(กรณีศึกษาในระบบการศึกษานอกโรงเรียนของกระทรวงศึกษาธิการ (กศน.) ให้ระบุระดับการศึกษาสูงสุดที่สอบวัดระดับผ่าน)
								</div>
							</div>
							<div class="row">
								<label class="col-form-label">7. สถานภาพสมรส<span class="star"> *</span></label>
								<div class="col-lg-12">
									<label class="radio-inline col-form-label col-lg-3" style="margin-left: 10px;">
										<input type="radio" id="A_07_1" name="A_07" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A_07)%> /> (1) โสด
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_07_2" name="A_07" value="2" <%=page.checked("2",data.dataset?.A_07)%> /> (2) แต่งงานแล้ว
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_07_3" name="A_07" value="3" <%=page.checked("3",data.dataset?.A_07)%> /> (3) อยู่ร่วมกัน
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_07_4" name="A_07" value="4" <%=page.checked("4",data.dataset?.A_07)%> /> (4) แยกกันอยู่
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_07_5" name="A_07" value="5" <%=page.checked("5",data.dataset?.A_07)%> /> (5) หย่าร้าง
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_07_6" name="A_07" value="6" <%=page.checked("6",data.dataset?.A_07)%> /> (6) หม้าย
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_07_7" name="A_07" value="7" <%=page.checked("7",data.dataset?.A_07)%> /> (7) อื่น ๆ โปรดระบุ
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_07_8" name="A_07" value="8" <%=page.checked("8",data.dataset?.A_07)%> /> (8) ไม่ทราบ
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_07_9" name="A_07" value="9" <%=page.checked("9",data.dataset?.A_07)%> /> (9) ไม่ประสงค์จะตอบ
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-form-label inputTextFix" style="margin-left: 10px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="A_07_text" name="A_07_text" maxlength="100" value="<%=data.dataset?.A_07_text%>" readonly />
								</div>
							</div>
							<div class="row">
								<label class="col-form-label">8. สัญชาติ<span class="star"> *</span></label>
								<div class="col-lg-12">
									<label class="radio-inline col-form-label col-lg-3" style="margin-left: 10px;">
										<input type="radio" id="A_08_1" name="A_08" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A_08)%> /> (1) ไทย
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_08_2" name="A_08" value="2" <%=page.checked("2",data.dataset?.A_08)%> /> (2) อื่น ๆ โปรดระบุ
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-form-label inputTextFix" style="margin-left: 10px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="A_08_text" name="A_08_text" maxlength="100" value="<%=data.dataset?.A_08_text%>" readonly />
								</div>
							</div>
							<div class="row">
								<div class="col-form-label inputTextFix" style="margin-left: 10px;">
									เหตุผลที่ท่านอาศัยอยู่ในประเทศไทย
								</div>
								<div class="col-lg-12">
									<label class="radio-inline col-form-label col-lg-3" style="margin-left: 10px;">
										<input type="radio" id="A_08_N_1" name="A_08_N" value="1" <%=page.checked("1",data.dataset?.A_08_N)%> /> (1) แรงงานต่างด้าว
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_08_N_2" name="A_08_N" value="2" <%=page.checked("2",data.dataset?.A_08_N)%> /> (2) นักศึกษาต่างชาติ ฝึกอบรม
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_08_N_3" name="A_08_N" value="3" <%=page.checked("3",data.dataset?.A_08_N)%> /> (3) ได้รับการจ้างงานในประเทศไทย (ตามสัญญาจ้างตั้งแต่ก่อนเข้ามาในประเทศ)
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_08_N_4" name="A_08_N" value="4" <%=page.checked("4",data.dataset?.A_08_N)%> /> (4) ได้รับการจ้างงานในประเทศไทย (เพิ่งหางานได้หลังจากเข้าประเทศ)
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_08_N_5" name="A_08_N" value="5" <%=page.checked("5",data.dataset?.A_08_N)%> /> (5) ติดตามคู่สมรส ครอบครัว (รวมถึงความสัมพันธ์คู่รักในรูปแบบอื่น)
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_08_N_6" name="A_08_N" value="6" <%=page.checked("6",data.dataset?.A_08_N)%> /> (6) ติดตามบิดามารดา หรือผู้ปกครอง
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_08_N_7" name="A_08_N" value="7" <%=page.checked("7",data.dataset?.A_08_N)%> /> (7) เกิดและพำนักในประเทศไทยตั้งแต่เกิด แต่ไม่ได้สัญชาติไทย
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_08_N_8" name="A_08_N" value="8" <%=page.checked("8",data.dataset?.A_08_N)%> /> (8) นักท่องเที่ยวระยะยาวต่อเนื่องในช่วงเวลาที่เก็บแบบสอบถาม
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_08_N_9" name="A_08_N" value="9" <%=page.checked("9",data.dataset?.A_08_N)%> /> (9) ผู้ลี้ภัยจากสงคราม ความขัดแย้งภายในประเทศ
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_08_N_10" name="A_08_N" value="10" <%=page.checked("10",data.dataset?.A_08_N)%> /> (10) อื่น ๆ
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_08_N_11" name="A_08_N" value="11" <%=page.checked("11",data.dataset?.A_08_N)%> /> (11) ไม่ทราบ
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_08_N_12" name="A_08_N" value="12" <%=page.checked("12",data.dataset?.A_08_N)%> /> (12) ไม่ประสงค์จะตอบ
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-form-label inputTextFix" style="margin-left: 10px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="A_08_N_text" name="A_08_N_text" maxlength="100" value="<%=data.dataset?.A_08_N_text%>" readonly />
								</div>
							</div>
							<div class="row">
								<label class="col-form-label">9. ความพิการ<span class="star"> *</span></label>
								<div class="col-lg-12">
									<label class="radio-inline col-form-label col-lg-3" style="margin-left: 10px;">
										<input type="radio" id="A_09_1" name="A_09" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A_09)%> /> (1) ไม่พิการ
									</label>
									<label class="radio-inline col-form-label col-lg-4">
										<input type="radio" id="A_09_2" name="A_09" value="2" data-parsley-required="true" <%=page.checked("2",data.dataset?.A_09)%> /> (2) พิการ (ตอบได้มากกว่าหนึ่งข้อ)
									</label>
									<div class="col-lg-12">										
										<label class="radio-inline col-form-label col-lg-3" style="margin-left: 10px;">
											<input type="checkbox" id="A_09_01" name="A_09_01" class="A_09_2" value="1" <%=page.checked("1",data.dataset?.A_09_01)%> disabled /> (1) บกพร่องทางการเห็น
										</label>
										<label class="radio-inline col-form-label col-lg-3">
											<input type="checkbox" id="A_09_02" name="A_09_02" class="A_09_2" value="1" <%=page.checked("1",data.dataset?.A_09_02)%> disabled /> (2) บกพร่องทางการได้ยิน
										</label>
										<label class="radio-inline col-form-label col-lg-3">
											<input type="checkbox" id="A_09_03" name="A_09_03" class="A_09_2" value="1" <%=page.checked("1",data.dataset?.A_09_03)%> disabled /> (3) บกพร่องทางสติปัญญา
										</label>
										<label class="radio-inline col-form-label col-lg-3">
											<input type="checkbox" id="A_09_04" name="A_09_04" class="A_09_2" value="1" <%=page.checked("1",data.dataset?.A_09_04)%> disabled /> (4) บกพร่องทางร่างกายและสุขภาพ
										</label>
										<label class="radio-inline col-form-label col-lg-3">
											<input type="checkbox" id="A_09_05" name="A_09_05" class="A_09_2" value="1" <%=page.checked("1",data.dataset?.A_09_05)%> disabled /> (5) บกพร่องทางการเรียนรู้
										</label>
										<label class="radio-inline col-form-label col-lg-3">
											<input type="checkbox" id="A_09_06" name="A_09_06" class="A_09_2" value="1" <%=page.checked("1",data.dataset?.A_09_06)%> disabled /> (6) บกพร่องทางการพูดและภาษา
										</label>
										<label class="radio-inline col-form-label col-lg-3">
											<input type="checkbox" id="A_09_07" name="A_09_07" class="A_09_2" value="1" <%=page.checked("1",data.dataset?.A_09_07)%> disabled /> (7) บกพร่องทางพฤติกรรมและอารมณ์
										</label>
										<label class="radio-inline col-form-label col-lg-3">
											<input type="checkbox" id="A_09_08" name="A_09_08" class="A_09_2" value="1" <%=page.checked("1",data.dataset?.A_09_08)%> disabled /> (8) ออทิสติก
										</label>
										<label class="radio-inline col-form-label col-lg-3">
											<input type="checkbox" id="A_09_09" name="A_09_09" class="A_09_2" value="1" <%=page.checked("1",data.dataset?.A_09_09)%> disabled /> (9) พิการอื่น ๆ 
										</label>
									</div>
									<div class="row">
										<div class="col-form-label inputTextFix" style="margin-left: 10px;">
											โปรดระบุ
										</div>
										<div class="col-lg-4">
											<input type="text" class="form-control" id="A_09_text" name="A_09_text" maxlength="100" value="<%=data.dataset?.A_09_text%>" readonly />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-form-label">10. ศาสนา<span class="star"> *</span></label>
								<div class="col-lg-12">
									<label class="radio-inline col-form-label col-lg-3" style="margin-left: 10px;">
										<input type="radio" id="A_10_1" name="A_10" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A_10)%> /> (1) ไม่มีศาสนา
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_10_2" name="A_10" value="2" <%=page.checked("2",data.dataset?.A_10)%> /> (2) คริสต์
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_10_3" name="A_10" value="3" <%=page.checked("3",data.dataset?.A_10)%> /> (3) อิสลาม
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_10_4" name="A_10" value="4" <%=page.checked("4",data.dataset?.A_10)%> /> (4) พราหมณ์-ฮินดู
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_10_5" name="A_10" value="5" <%=page.checked("5",data.dataset?.A_10)%> /> (5) พุทธ
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_10_6" name="A_10" value="6" <%=page.checked("6",data.dataset?.A_10)%> /> (6) อื่น ๆ โปรดระบุ
									</label>
									<label class="radio-inline col-form-label col-lg-3">
										<input type="radio" id="A_10_7" name="A_10" value="7" <%=page.checked("7",data.dataset?.A_10)%> /> (7) ไม่ประสงค์จะตอบ
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-form-label inputTextFix" style="margin-left: 10px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="A_10_text" name="A_10_text" maxlength="100" value="<%=data.dataset?.A_10_text%>" readonly />
								</div>
							</div>
							</br>
							<div class="row">
								<label class="col-form-label">11. ท่านเห็นการปฏิบัติงานของเจ้าหน้าที่ตำรวจ หรือเจ้าหน้าที่ของหน่วยงานด้านยุติธรรม </br>เช่น เจ้าหน้าที่คุมประพฤติ เจ้าหน้าที่ราชทัณฑ์ เจ้าหน้าที่ยุติธรรมจังหวัด เจ้าหน้าที่ยุติธรรมชุมชน เป็นต้น </br>ในการปฏิบัติงานในพื้นที่ชุมชนของท่านมากน้อยเพียงใด<span class="star"> *</span></label>
								<div class="col-lg-12">
									<label class="radio-inline col-form-label  col-lg-3" style="margin-left: 10px;">
										<input type="radio" id="A_11_1" name="A_11" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A_11)%> /> (1) สัปดาห์ละครั้ง
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_11_2" name="A_11" value="2" <%=page.checked("2",data.dataset?.A_11)%> /> (2) เดือนละครั้ง
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_11_3" name="A_11" value="3" <%=page.checked("3",data.dataset?.A_11)%> /> (3) ปีละครั้ง
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_11_4" name="A_11" value="4" <%=page.checked("4",data.dataset?.A_11)%> /> (4) มากกว่า 1 ครั้ง/ปี
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_11_5" name="A_11" value="5" <%=page.checked("5",data.dataset?.A_11)%> /> (5) ไม่เคยพบ
									</label>
								</div>
							</div>
							</br>
							<div class="row">
								<label class="col-form-label">12. สถานะของท่านในครัวเรือน (ท่านมีความเกี่ยวข้องสัมพันธ์กับเจ้าของบ้านอย่างไร)<span class="star"> *</span></label>
								<div class="col-lg-12">
									<label class="radio-inline col-form-label  col-lg-3" style="margin-left: 10px;">
										<input type="radio" id="A_12_1" name="A_12" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A_12)%> /> (1) เจ้าของบ้าน
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_12_2" name="A_12" value="2" <%=page.checked("2",data.dataset?.A_12)%> /> (2) คู่สมรส
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_12_3" name="A_12" value="3" <%=page.checked("3",data.dataset?.A_12)%> /> (3) บิดามารดา
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_12_4" name="A_12" value="4" <%=page.checked("4",data.dataset?.A_12)%> /> (4) บุตร
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_12_5" name="A_12" value="5" <%=page.checked("5",data.dataset?.A_12)%> /> (5) ปู่/ย่า/ตา/ยาย
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_12_6" name="A_12" value="6" <%=page.checked("6",data.dataset?.A_12)%> /> (6) หลาน
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_12_7" name="A_12" value="7" <%=page.checked("7",data.dataset?.A_12)%> /> (7) พี่/น้อง
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_12_8" name="A_12" value="8" <%=page.checked("8",data.dataset?.A_12)%> /> (8) ลุง/ป้า/น้า/อา
									</label>
									<label class="radio-inline col-form-label  col-lg-3">
										<input type="radio" id="A_12_9" name="A_12" value="9" <%=page.checked("9",data.dataset?.A_12)%> /> (9) อื่นๆ...
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-form-label inputTextFix" style="margin-left: 10px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="A_12_text" name="A_12_text" maxlength="100" value="<%=data.dataset?.A_12_text%>" readonly />
								</div>
							</div>
							<div class="row">
								<label class="col-form-label">13. ลักษณะบริเวณที่อยู่อาศัย<span class="star"> *</span></label>
								<div class="col-lg-12">
									<label class="radio-inline col-form-label  col-lg-8" style="margin-left: 10px;">
										<input type="radio" id="A_13_1" name="A_13" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A_13)%> /> (1) เขตที่พักอาศัยทั่วไป เช่น หมู่บ้านจัดสรร บ้านเดี่ยว
									</label>
									<label class="radio-inline col-form-label  col-lg-8">
										<input type="radio" id="A_13_2" name="A_13" value="2" <%=page.checked("2",data.dataset?.A_13)%> /> (2) เขตธุรกิจ เช่น เขตที่มีบริษัท ห้าง ร้าน อยู่รวมกันเป็นบริเวณกว้าง
									</label>
									<label class="radio-inline col-form-label  col-lg-8">
										<input type="radio" id="A_13_3" name="A_13" value="3" <%=page.checked("3",data.dataset?.A_13)%> /> (3) เขตชุมชนแออัด หรือชุมชนที่มีลักษณะบ้านเรือนหนาแน่น และประชากรอยู่อย่างแออัด
									</label>
									<label class="radio-inline col-form-label  col-lg-8">
										<input type="radio" id="A_13_4" name="A_13" value="4" <%=page.checked("4",data.dataset?.A_13)%> /> (4) เขตอุตสาหกรรม หรือชุมชนที่อยู่ในบริเวณที่มีโรงงานอุตสาหกรรมจำนวนมากหรือนิคมอุตสาหกรรมตั้งอยู่
									</label>
									<label class="radio-inline col-form-label  col-lg-8">
										<input type="radio" id="A_13_5" name="A_13" value="5" <%=page.checked("5",data.dataset?.A_13)%> /> (5) เขตเกษตรกรรม หรือชุมชนที่อยู่ในบริเวณพื้นที่เกษตรกรรม
									</label>
									<label class="radio-inline col-form-label  col-lg-8">
										<input type="radio" id="A_13_6" name="A_13" value="6" <%=page.checked("6",data.dataset?.A_13)%> /> (6) อื่นๆ...
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-form-label inputTextFix" style="margin-left: 10px;">
									โปรดระบุ
								</div>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="A_13_text" name="A_13_text" maxlength="100" value="<%=data.dataset?.A_13_text%>" readonly />
								</div>
							</div>
							<div class="row">
								<label class="col-form-label">14. ในช่วงระยะเวลา 5 ปี ที่ผ่านมา พ.ศ.2562 จนถึงปัจจุบันท่านเคยมาติดต่อหรือรับบริการจากหน่วยงานในกระบวนการยุติธรรมหรือไม่<span class="star"> *</span></label>
								<div class="col-lg-12">
									<label class="radio-inline col-form-label  col-lg-3" style="margin-left: 10px;">
										<input type="radio" id="A_14_1" name="A_14" value="0" data-parsley-required="true" <%=page.checked("0",data.dataset?.A_14)%> /> (0) ไม่เคยรับบริการ
									</label>
									<label class="radio-inline col-form-label  col-lg-4">
										<input type="radio" id="A_14_2" name="A_14" value="1" <%=page.checked("1",data.dataset?.A_14)%> /> (1) เคยรับบริการ (ตอบได้มากกว่าหนึ่งข้อ)
									</label>
									<div class="col-lg-12">
										<label class="radio-inline col-form-label  col-lg-3" style="margin-left: 10px;">
											<input type="checkbox" id="A_14_01" name="A_14_01" class="A_14_2" value="1" data-parsley-required="true" <%=page.checked("1",data.dataset?.A_14_01)%> disabled /> (1) ตำรวจ
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_02" name="A_14_02" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_02)%> disabled /> (2) อัยการ
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_03" name="A_14_03" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_03)%> disabled /> (3) ศาล
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_04" name="A_14_04" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_04)%> disabled /> (4) สำนักงานคณะกรรมการป้องกันและปราบปรามการทุจริตแห่งชาติ (ป.ป.ช.) หรือสำนักงาน ป.ป.ช.ภาค หรือหน่วยงานในสังกัด
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_05" name="A_14_05" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_05)%> disabled /> (5) สำนักงานคณะกรรมการป้องกันและปราบปรามการทุจริตในภาครัฐ (ป.ป.ท.) หรือสำนักงาน ป.ป.ท. ภาค หรือหน่วยงานในสังกัด
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_06" name="A_14_06" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_06)%> disabled /> (6) สำนักงานคณะกรรมการป้องกันและปราบปรามยาเสพติด (ป.ป.ส.) หรือสำนักงาน ป.ป.ส. ภาคหรือหน่วยงานในสังกัด
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_07" name="A_14_07" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_07)%> disabled /> (7) กรมสอบสวนคดีพิเศษ หรือกองปฏิบัติการคดีพิเศษภาค หรือหน่วยงานในสังกัด
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_08" name="A_14_08" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_08)%> disabled /> (8) สำนักงานป้องกันและปราบปรามการฟอกเงิน (ปปง.) หรือหน่วยงานในสังกัด)
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_09" name="A_14_09" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_09)%> disabled /> (9) สำนักงานกองทุนยุติธรรม
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_10" name="A_14_10" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_10)%> disabled /> (10) สำนักงานยุติธรรมจังหวัด/สำนักงานยุติธรรมชุมชน
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_11" name="A_14_11" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_11)%> disabled /> (11) สถาบันนิติวิทยาศาสตร์ หรือหน่วยงานในสังกัด
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_12" name="A_14_12" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_12)%> disabled /> (12) กรมคุ้มครองสิทธิและเสรีภาพ หรือหน่วยงานในสังกัด
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_13" name="A_14_13" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_13)%> disabled /> (13) กรมคุมประพฤติ หรือสำนักงานคุมประพฤติ หรือหน่วยงานในสังกัด
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_14" name="A_14_14" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_14)%> disabled /> (14) กรมพินิจและคุ้มครองเด็กและเยาวชน หรือสถานพินิจคุ้มครองเด็กและเยาวชน หรือศูนย์ฝึกอบรมเด็กและเยาวชน หรือหน่วยงานในสังกัด
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_15" name="A_14_15" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_15)%> disabled /> (15) กรมราชทัณฑ์ หรือเรือนจำ/ทัณฑสถาน หรือหน่วยงานในสังกัด
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_16" name="A_14_16" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_16)%> disabled /> (16) กรมบังคับคดี หรือสำนักงานบังคับคดี หรือหน่วยงานในสังกัด
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_17" name="A_14_17" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_17)%> disabled /> (17) สถาบันอนุญาโตตุลาการ
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_18" name="A_14_18" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_18)%> disabled /> (18) ศาลปกครอง หรือศาลปกครองภาค หรือหน่วยงานในสังกัด
										</label>
										<label class="radio-inline col-form-label  col-lg-3">
											<input type="checkbox" id="A_14_19" name="A_14_19" class="A_14_2" value="1" <%=page.checked("1",data.dataset?.A_14_19)%> disabled /> (19) สำนักงานคณะกรรมการสิทธิมนุษยชนแห่งชาติs
										</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-form-label inputTextFix remark-layer">
									หมายเหตุ กรณีตอบข้อใดข้อหนึ่งให้นับเป็นเคยใช้บริการหน่วยงานในกระบวนการยุติธรรม
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
