<!DOCTYPE html>
<html>
<head>
	<title>Survey Form</title>
	<%- include('../asset/meta') %>		
	<%- include('../asset/styles') %>		
	<%- include('../asset/scripts') %>
	<link rel="stylesheet" type="text/css" href="<%=meta.cdn_url%>/survey/survey_form.css" />
	<script type="text/javascript" src="<%=meta.cdn_url%>/survey/survey_form.js"></script>
</head>
<body>
	<div id="page-container" class="page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer page-without-sidebar">
		<%- include('../partials/page_header') %>
		<nav id="breadnavigator" aria-label="breadcrumb" style="margin-left: 5px;">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="/index" id="bread_home_linker"><i class="home icon"></i>หน้าหลัก</a></li>
			  <li class="breadcrumb-item active" aria-current="page">แบบสำรวจข้อมูล</li>
			</ol>
		</nav>
		<div class="panel container panel-container">
			<div class="page-header row">
				<div class="col-md"><h3>แบบสำรวจข้อมูล</h3></div>
				<div class="col-md-2">
					<a href="/index" id="homelinker" class="ui blue button pull-right nowrap"><i class="home icon"></i> หน้าหลัก</a>
				</div>
			</div>
			<div class="body">
				<input type="hidden" id="userid" name="userid" value="<%=meta.user?.userid%>" />
				<input type="hidden" id="profile_id" value="<%=data.dataset?.profile_id %>">
				<div class="row">
				<%
				if(data.entity) {
					let types = Object.values(data.entity);
					if(types.length==1) {
						for(let i = 0; i < types.length; i++) {
							let formtype = types[i]; 
							let rows = formtype.rows;%>
							<div class="row topic-row topic-title">
								<div class="col-md-12"><h3><%=formtype.type_title%></h3></div>
							</div>
							<%for(let row of rows) { %>
								<div class="col-md-12 topic-layer">
									<a href="javascript:void(0);" class="topic-linker" data-form="<%=row.form_id%>" data-url="<%=row.form_url%>" data-survey="<%=row.survey_id%>">
										<% if(row.editable=="1") { %>
											<i class="fa fa-edit edit icon large pull-left icon-edit"></i>
										<% } %>
										<span class="btn btn-info btn-lg topic-layer topic-single text-wrap">
											<%=row.form_title%>
										</span>								
									</a>
								</div>
							<%}
						}
					} else {
						for(let i = 0; i < types.length; i++) {
							let formtype = types[i]; 
							let rows = formtype.rows;
							let newrow = i > 0 && i % 2 == 0;
							if(newrow) { %>
								</div>
								<div class="row">
							<% } %>
							<div class="col-md-6">
								<div class="row topic-row topic-title">
									<div class="col-md-12"><h3><%=formtype.type_title%></h3></div>
								</div>		
							<%for(let row of rows) { %>
								<div class="row">
									<div class="col-md-12 topic-layer">
										<a href="javascript:void(0);" class="topic-linker" data-form="<%=row.form_id%>" data-url="<%=row.form_url%>" data-survey="<%=row.survey_id%>">
											<% if(row.editable=="1") { %>
												<i class="fa fa-edit edit icon large pull-left icon-edit"></i>
											<% } %>
											<span class="btn btn-info btn-lg topic-layer topic-content text-wrap">
												<%=row.form_title%>
											</span>								
										</a>
									</div>
								</div>		
							<%}%>
							</div>
						<%}
					}
				}
				%>
				</div>
			</div>
		</div>
	</div>
</body>
</html>