<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Survey Profile</title>
		<%- include('../asset/meta') %>		
		<%- include('../asset/styles') %>		
		<%- include('../asset/scripts') %>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOwyUEHanTogKv_ckLp8NlgNEGlydyu1s"></script>
		<link rel="stylesheet" type="text/css" href="<%=meta.cdn_url%>/survey/survey_profile.css" />
		<script type="text/javascript" src="<%=meta.cdn_url%>/survey/survey_gmap.js"></script>
		<script type="text/javascript" src="<%=meta.cdn_url%>/survey/survey_profile.js"></script>
		<script type="text/javascript" nonce="YXNzdXJl">
			var data_category = <%-JSON.stringify(data.entity)%>;
		</script>
	</head>
	<body>
		<%- include('../partials/page_waiting') %>
		<div id="page-container" class="page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer page-without-sidebar">
			<%- include('../partials/page_header') %>
			<nav id="breadnavigator" aria-label="breadcrumb" style="margin-left: 5px;">
				<ol class="breadcrumb">
				  <li class="breadcrumb-item"><a href="javascript:void(0);" id="bread_home_linker"><i class="home icon"></i>หน้าหลัก</a></li>
				  <li class="breadcrumb-item active" aria-current="page">ข้อมูลส่วนบุคคล</li>
				</ol>
			</nav>
			<%- include('./survey_profile_kit') %>
		</div>
	</body>
</html>