<!DOCTYPE html>
<html>
<head>
	<title>Survey</title>
	<%- include('../asset/meta') %>		
	<%- include('../asset/styles') %>		
	<%- include('../asset/scripts') %>
	<link rel="stylesheet" type="text/css" href="<%=meta.cdn_url%>/survey/survey_form.css" />
	<script type="text/javascript" src="<%=meta.cdn_url%>/survey/survey_form.js"></script>
</head>
<body>
	<div id="page-container" class="page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer page-without-sidebar">
		<%- include('../partials/page_header') %>
		<div class="panel container panel-container">
			<div class="page-header"><h3>แบบสำรวจข้อมูล</h3></div>
			<div class="body">
				<input type="hidden" id="profile_id" value="<%=data.dataset?.profile_id %>">
				<div class="row">
				<%
				if(data.entity) {
					let types = Object.values(data.entity);
					for(let i = 0; i < types.length; i++) {
						let formtype = types[i]; 
						let rows = formtype.rows;
						let newrow = i > 0 && i % 2 == 0;
						if(newrow) { %>
							</div>
							<div class="row">
						<% } %>
						<div class="col-md-6">
							<div class="row topic-row topic-title">
								<div class="col-md-12"><h3><%=formtype.type_title%></h3></div>
							</div>		
						<%for(let row of rows) { %>
							<div class="row">
								<div class="col-md-12 topic-layer">
									<a href="javascript:void(0);" class="topic-linker" data-url="<%=row.form_url%>" data-key="<%=row.form_id%>">
										<% if(row.editable=="1") { %>
											<i class="fa fa-edit edit icon large pull-left icon-edit"></i>
										<% } %>
										<span class="btn btn-info btn-lg topic-layer topic-content text-wrap">
											<%=row.form_title%>
										</span>								
									</a>
								</div>
							</div>		
						<%}%>
						</div>
					<%}
				}
				%>
				</div>
			</div>
		</div>
	</div>
</body>
</html>