<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
	<%- include('../asset/meta') %>		
	<%- include('../asset/styles') %>		
	<%- include('../asset/scripts') %>
	<link rel="stylesheet" type="text/css" href="<%=meta.cdn_url%>/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="<%=meta.cdn_url%>/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" />
	<script type="text/javascript" src="<%=meta.cdn_url%>/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="<%=meta.cdn_url%>/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="<%=meta.cdn_url%>/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" src="<%=meta.cdn_url%>/assets/plugins/parsley/dist/parsley.js"></script>
	<link rel="stylesheet" type="text/css" href="<%=meta.cdn_url%>/user/user.css" />
	<script type="text/javascript" src="<%=meta.cdn_url%>/user/user.js"></script>
</head>
<body>
	<div id="page-container" class="page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer page-without-sidebar">
		<%- include('../partials/page_header') %>
		<div class="panel container panel-container">
			<h1 class="page-header">จัดการผู้ใช้งาน (User)</h1>
			<div class="body">
				<div id="buttoncontrolpanel">
					<a href="javascript:void(0)" id="newuserbutton" data-toggle="modal" data-target="#modal-add" class="btn btn-success ui green button "><i class="plus icon small"></i> เพิ่มผู้ใช้งานใหม่</a>
					<a href="javascript:void(0)" id="refreshuserutton" class="btn btn-info ui primary button pull-right"><i class="refresh icon small"></i> Refresh</a>
				</div>
				<br/>
				<table id="data-table" data-order='[[0,"asc"]]' class="table table-bordered table-hover table-striped table-td-valign-middle">
					<thead>
						<tr class="inverse">
							<th class="text-center">ลำดับที่</th>
							<th class="text-center">รหัสผู้ใช้งาน</th>
							<th class="text-center">ชื่อ</th>
							<th class="text-center">นามสกุล</th>
							<th class="text-center">ระดับผู้ใช้งาน</th>
							<th class="text-center">อีเมล</th>
							<th class="text-center">เบอร์ติดต่อ</th>
							<th><i class="lightning icon small"></i></th>
						</tr>
					</thead>
					<tbody id="data-table-body">
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="dialogpanel">
		<%- include('./user_dialog') %>
	</div>
</body>
</html>