<!DOCTYPE html>
<html lang="en">
<head>
	<title>Survey</title>
	<%- include('../asset/meta') %>		
	<%- include('../asset/styles') %>		
	<%- include('../asset/scripts') %>
	<script type="text/javascript" src="<%=meta.cdn_url%>/survey_f/survey_f.js"></script>
</head>
<body>
	<%- include('../partials/page_waiting') %>
	<div id="page-container" class="page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer page-without-sidebar">
		<%- include('../partials/page_header') %>
		<%- include('../partials/page_survey') %>
		<div class="panel container" style="margin-top : 10px;">
			<h1 class="page-header" style="margin-top : 10px;">แบบสำรวจข้อมูลสถิติอาชญากรรมภาคประชาชน</h1>
			<div class="body" id="form-data-layer">
				<form class="a form app form-horizontal" id="form-data-validate" data-parsley-errors-messages-disabled data-parsley-inputs="input:not([type='checkbox']), textarea, select" method="post">
					<input type="hidden" id="ajax" name="ajax" value="true" />
					<input type="hidden" id="token_key" name="token_key" value="<%=meta.token_key%>" />
					<input type="hidden" id="profile_id" name="profile_id" value="<%=data.dataset?.profile_id%>" />
					<input type="hidden" id="survey_id" name="survey_id" value="<%=data.dataset?.survey_id%>" />
					<label>แบบสำรวจข้อมูลการทำร้ายรังแกทางจิตใจ (ผนวก ฉ) </label><br/>
					<div class="row">
						<label class="col-form-label">1. ในรอบ 1 ปีที่ผ่านมาท่านเคยตกเป็นเหยื่อการถูกทำร้ายรังแกทางจิตใจจากคนในครอบครัวหรือคนใกล้ชิดในลักษณะต่าง ๆ เหล่านี้หรือไม่<span class="star"> *</span></label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-3" style="margin-left: 10px;">
								<input type="radio" id="SF_1_1" name="SF_1" value="1" <%=page.checked("1",data.dataset?.SF_1)%> data-parsley-required="true" /> (1) สมาชิกในครอบครัวหรือคนรัก ทำร้าย ขู่ว่าจะทำร้าย หรือขู่ว่าจะพรากลูกของท่าน
							</label>
							<label class="radio-inline col-form-label  col-lg-3">
								<input type="radio" id="SF_1_2" name="SF_1" value="2" <%=page.checked("2",data.dataset?.SF_1)%> /> (2) สมาชิกในครอบครัวหรือคนรัก จำกัดทางเลือกในการวางแผนครอบครัว เช่น ห้ามท่านใช้การคุมกำเนิด หรือทำให้ท่านเข้าใจผิดกับการคุมกำเนิดของเขา
							</label>
							<label class="radio-inline col-form-label  col-lg-3">
								<input type="radio" id="SF_1_3" name="SF_1" value="3" <%=page.checked("3",data.dataset?.SF_1)%> /> (3) สมาชิกในครอบครัวหรือคนรักบังคับหรือไม่ยินยอมหากท่านจะขออนุญาตไปพบแพทย์
							</label>
							<label class="radio-inline col-form-label  col-lg-3">
								<input type="radio" id="SF_1_4" name="SF_1" value="4" <%=page.checked("4",data.dataset?.SF_1)%> /> (4) สมาชิกในครอบครัวหรือคนรัก พยายามจำกัดไม่ให้ท่านพูดคุยกับบุคคลอื่นด้วยความหึงหวง หรือ รบเร้าที่จะทราบว่าท่านอยู่ที่ไหนตลอดเวลา
							</label>
							<label class="radio-inline col-form-label  col-lg-3">
								<input type="radio" id="SF_1_5" name="SF_1" value="5" <%=page.checked("5",data.dataset?.SF_1)%> /> (5) สมาชิกในครอบครัวหรือคนรักบังคับควบคุมในเรื่องการแต่งกายของท่าน
							</label>
							<label class="radio-inline col-form-label  col-lg-3">
								<input type="radio" id="SF_1_6" name="SF_1" value="6" <%=page.checked("6",data.dataset?.SF_1)%> /> (6) ถูกทำให้ตกใจหรือกลัวโดยเจตนา เช่น ตะโกน ทุบสิ่งของ
							</label>
							<label class="radio-inline col-form-label  col-lg-3">
								<input type="radio" id="SF_1_7" name="SF_1" value="7" <%=page.checked("7",data.dataset?.SF_1)%> /> (7) ถูกคนในครอบครัวหรือคนใกล้ชิดทำลายทรัพย์สินหรือสัตว์เลี้ยงของท่านถูกทำให้เสียหายหรือถูกทำลายเพื่อทำให้ท่านตกใจหรือเสียใจ
							</label>
							<label class="radio-inline col-form-label  col-lg-3">
								<input type="radio" id="SF_1_8" name="SF_1" value="8" <%=page.checked("8",data.dataset?.SF_1)%> /> (8) บุคคลใกล้ชิดท่านถูกทำร้ายหรือถูกข่มขู่ว่าจะถูกทำร้าย
							</label>
							<label class="radio-inline col-form-label  col-lg-3">
								<input type="radio" id="SF_1_9" name="SF_1" value="9" <%=page.checked("9",data.dataset?.SF_1)%> /> (9) ถูกจำกัดเสรีภาพในการเดินทาง เช่น กักขัง ยึดบัตรประจำตัวหรือหนังสือเดินทาง
							</label>
							<label class="radio-inline col-form-label  col-lg-3">
								<input type="radio" id="SF_1_10" name="SF_1" value="10" <%=page.checked("10",data.dataset?.SF_1)%> /> (10) พยายามจำกัดการติดต่อกับครอบครัวหรือเพื่อน หรือจำกัดการใช้สื่อสังคมออนไลน์ เช่น Facebook, Instagram, Twitter
							</label>
						</div>
					</div>
					<div class="row">
						<label class="col-form-label">2. ในกรณีที่เคยมีประสบการณ์ผู้ก่อเหตุเป็นบุคคลใด (ตอบได้มากกว่าหนึ่งข้อ)<span class="star"> *</span></label>
						<div class="col-lg-12" id="sf2-layer">
							<label class="checkbox-inline col-form-label  col-lg-3" style="margin-left: 10px;" id="SF_2_label">
								<input type="checkbox" id="SF_2_1" name="SF_2_1" value="1" <%=page.checked("1",data.dataset?.SF_2_1)%> data-parsley-required="true" /> (1) บิดา/มารดา
							</label>
							<label class="checkbox-inline col-form-label  col-lg-3">
								<input type="checkbox" id="SF_2_2" name="SF_2_2" value="2" <%=page.checked("2",data.dataset?.SF_2_2)%> /> (2) ผู้ปกครอง
							</label>
							<label class="checkbox-inline col-form-label  col-lg-3">
								<input type="checkbox" id="SF_2_3" name="SF_2_3" value="3" <%=page.checked("3",data.dataset?.SF_2_3)%> /> (3) สามี
							</label>
							<label class="checkbox-inline col-form-label  col-lg-3">
								<input type="checkbox" id="SF_2_4" name="SF_2_4" value="4" <%=page.checked("4",data.dataset?.SF_2_4)%> /> (4) ภรรยา
							</label>
							<label class="checkbox-inline col-form-label  col-lg-3">
								<input type="checkbox" id="SF_2_5" name="SF_2_5" value="5" <%=page.checked("5",data.dataset?.SF_2_5)%> /> (5) คู่ชีวิตรูปแบบอื่น
							</label>
							<label class="checkbox-inline col-form-label  col-lg-3">
								<input type="checkbox" id="SF_2_6" name="SF_2_6" value="6" <%=page.checked("6",data.dataset?.SF_2_6)%> /> (6) คู่รักที่ยังไม่ได้แต่งงานหรือใช้ชีวิตอยู่ร่วมกัน
							</label>
							<label class="checkbox-inline col-form-label  col-lg-3">
								<input type="checkbox" id="SF_2_7" name="SF_2_7" value="7" <%=page.checked("7",data.dataset?.SF_2_7)%> /> (7) ลูกหลาน
							</label>
							<label class="checkbox-inline col-form-label  col-lg-3">
								<input type="checkbox" id="SF_2_8" name="SF_2_8" value="8" <%=page.checked("8",data.dataset?.SF_2_8)%> /> (8) พี่น้อง
							</label>
							<label class="checkbox-inline col-form-label  col-lg-3">
								<input type="checkbox" id="SF_2_9" name="SF_2_9" value="9" <%=page.checked("9",data.dataset?.SF_2_9)%> /> (9) เครือญาติ
							</label>
							<label class="checkbox-inline col-form-label  col-lg-3">
								<input type="checkbox" id="SF_2_10" name="SF_2_10" value="10" <%=page.checked("10",data.dataset?.SF_2_10)%> /> (10) เพื่อนบ้านหรือผู้อยู่ในชุมชนใกล้เคียง
							</label>
							<label class="checkbox-inline col-form-label  col-lg-3">
								<input type="checkbox" id="SF_2_11" name="SF_2_11" value="11" <%=page.checked("11",data.dataset?.SF_2_11)%> /> (11) เพื่อน
							</label>
							<label class="checkbox-inline col-form-label  col-lg-3">
								<input type="checkbox" id="SF_2_12" name="SF_2_12" value="12" <%=page.checked("12",data.dataset?.SF_2_12)%> /> (12) ความสัมพันธ์อื่นๆ (ระบุ)
							</label>
							<label class="checkbox-inline col-form-label  col-lg-3">
								<input type="checkbox" id="SF_2_13" name="SF_2_13" value="13" <%=page.checked("13",data.dataset?.SF_2_13)%> /> (13) ไม่ประสงค์จะตอบ
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-form-label inputTextFix" style="margin-left: 10px;">
							โปรดระบุ
						</div>
						<div class="col-lg-4">
							<input type="text" class="form-control" id="SF_2_text" name="SF_2_text" value="<%=data.dataset?.SF_2_text%>" maxlength="100" readonly />
						</div>
					</div>
					<div class="row">
						<label class="col-form-label">3. จากกรณีดังกล่าวเป็นสาเหตุให้ท่านได้รับอันตรายทางจิตใจในระดับใด<span class="star"> *</span></label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-3" style="margin-left: 10px;">
								<input type="radio" id="SF_3_1" name="SF_3" value="1" <%=page.checked("1",data.dataset?.SF_3)%> data-parsley-required="true" /> (1) ยังสามารถใช้ชีวิตได้ตามปกติ
							</label>
							<label class="radio-inline col-form-label  col-lg-3">
								<input type="radio" id="SF_3_2" name="SF_3" value="2" <%=page.checked("2",data.dataset?.SF_3)%> /> (2) รู้สึกเครียดหรือหวาดกลัวจนไม่สามารถใช้ชีวิตได้ตามปกติ
							</label>
							<label class="radio-inline col-form-label  col-lg-3">
								<input type="radio" id="SF_3_3" name="SF_3" value="3" <%=page.checked("3",data.dataset?.SF_3)%> /> (3) มีความผิดปกติทางจิตใจจนไม่สามารถใช้ชีวิตได้ตามปกติ (เช่น นอนไม่หลับ หวาดระแวง เห็นภาพหลอน)
							</label>
							<label class="radio-inline col-form-label  col-lg-3">
								<input type="radio" id="SF_3_4" name="SF_3" value="4" <%=page.checked("4",data.dataset?.SF_3)%> /> (4) ได้รับการวินิจฉัยทางแพทย์ว่ามีอาการทางจิตหรือได้รับอันตรายทางจิตใจ
							</label>
						</div>
					</div>
				</form>
			</div>
			<br/>
			<div class="row">
				<div class="col-lg-1.5" style="margin-left: auto; margin-right: 0;">
					<% if(!page.isUpdateMode(data.action)) {%>
						<button id="buttonsave" class="ui basic green button btn-form-varidate-save"><i class="save icon large button"></i> บันทึก</button>
					<% } %>
					<% if(page.isUpdateMode(data.action)) {%>
						<button id="buttonupdate" class="ui basic green button btn-form-varidate-edit" data-key="<%=data.dataset?.survey_id%>"><i class="save icon large button"></i> ปรับปรุง</button>
					<% } %>
				</div>
				<div class="col-lg-1.5">
					<button id="buttoncancel" class="ui basic red button"><i class="cancel icon large button"></i> ยกเลิก</button>
				</div>
			</div>
			<br/>
		</div>
	</div>
</body>
</html>
