<!DOCTYPE html>
<html lang="en">
<head>
	<title>Survey</title>
	<%- include('../asset/meta') %>		
	<%- include('../asset/styles') %>		
	<%- include('../asset/scripts') %>
	<link rel="stylesheet" type="text/css" href="<%=meta.cdn_url%>/survey_b/survey_b.css" />
	<script type="text/javascript" src="<%=meta.cdn_url%>/survey_b/survey_b.js"></script>
	<script type="text/javascript" src="<%=meta.cdn_url%>/survey_b/survey_b_profile.js"></script>
	<script type="text/javascript" nonce="YXNzdXJl">
		var data_category = <%-JSON.stringify(data.entity)%>;
	</script>
</head>
<body>
	<%- include('../partials/page_waiting') %>
	<div id="page-container" class="page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer page-without-sidebar">
		<%- include('../partials/page_header') %>
		<div class="panel container" style="margin-top : 10px;">
			<h1 class="page-header" style="margin-top : 10px;">แบบสำรวจข้อมูลสถิติอาชญากรรมภาคประชาชน</h1>
			<div class="body" id="form-data-layer">
				<form class="a form app form-horizontal" id="form-data-validate" data-parsley-errors-messages-disabled data-parsley-inputs="input:not([type='checkbox']), textarea, select" method="post">
					<input type="hidden" id="ajax" name="ajax" value="true" />
					<input type="hidden" id="userid" name="userid" value="<%=meta.user?.userid%>" />
					<input type="hidden" id="profile_id" name="profile_id" value="<%=data.dataset?.profile_id%>" />
					<input type="hidden" id="survey_id" name="survey_id" value="<%=data.dataset?.survey_id%>" />
					<label>แบบแจงนับข้อมูลสถิติอาชญากรรม (ผนวก ข) </label>
					<br/>
					<label>จำนวนสมาชิกในครัวเรือนที่อยู่อาศัยในห้วง พ.ศ. 2565 มากกว่า 6 เดือนขึ้นไป รวมทั้งสิ้น</label>
					<label class="radio-inline col-form-label  col-lg-1">
						<input type="text" class="form-control" id="SB_counter" value="<%=data.dataset?.SB_counter%>" readonly />
					</label>
					<label>คน</label>
					<br/>
					<label>(นับรวมผู้ตอบและสมาชิกทุกคน (ทุกช่วงอายุ) ในรอบ 1 ปีที่ผ่านมา)</label> 
					<br/>
					<a href="javascript:void(0)" id="sb-add-button" class="btn btn-default ui green button"><i class="plus icon small"></i> เพิ่มสมาชิกในครัวเรือน</a>
					<br/> <br/>
					<div class="p-fluid p-formgrid p-grid">
						<div class="p-field p-col">
							<div class="row" style="margin-left: 10px;" id="familytablelayer">
								<%- include('./survey_b_table') %>
							</div>
						</div>
					</div>
				</form>
			</div>
			<br/>
			<div class="row">
				<div class="col-lg-1.5" style="margin-left: auto; margin-right: 0;">
					<% if(!page.isUpdateMode(data.action)) {%>
						<button id="buttonsave" class="ui basic green button btn-form-varidate-save"><i class="save icon large button"></i> บันทึก</button>
					<% } %>
					<% if(page.isUpdateMode(data.action)) {%>
						<button id="buttonupdate" class="ui basic green button btn-form-varidate-edit" data-key="<%=data.dataset?.survey_id%>"><i class="save icon large button"></i> ปรับปรุง</button>
					<% } %>
				</div>
				<div class="col-lg-1.5">
					<button id="buttoncancel" class="ui basic red button"><i class="cancel icon large button"></i> ยกเลิก</button>
				</div>
			</div>
			<br/>
		</div>
	</div>
	<div id="dialogpanel"></div>
</body>
</html>
