<!DOCTYPE html>
<html lang="en">
<head>
	<title>Measure</title>
	<%- include('../asset/meta') %>		
	<%- include('../asset/styles') %>		
	<%- include('../asset/scripts') %>
	<script type="text/javascript" src="<%=meta.cdn_url%>/measure_e/measure_e.js"></script>
</head>
<body>
	<%- include('../partials/page_waiting') %>
	<div id="page-container" class="page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer page-without-sidebar">
		<%- include('../partials/page_header') %>
		<div class="panel container" style="margin-top : 10px;">
			<h1 class="page-header" style="margin-top : 10px;">แบบสำรวจตัวชี้วัดกระบวนการยุติธรรม</h1>
			<label class="col-form-label">แบบสำรวจข้อมูลการรับรู้ระดับการรับรู้และความเข้าใจเกี่ยวกับกระบวนการยุติธรรมทางเลือกและการระงับข้อพิพาท</label>
			<div class="body" id="form-data-layer">
				<form class="a form app form-horizontal" id="form-data-validate" data-parsley-errors-messages-disabled data-parsley-inputs="input:not([type='checkbox']), textarea, select" method="post">
					<input type="hidden" id="ajax" name="ajax" value="true" />
					<input type="hidden" id="userid" name="userid" value="<%=meta.user?.userid%>" />
					<input type="hidden" id="profile_id" name="profile_id" value="<%=data.dataset?.profile_id%>" />
					<input type="hidden" id="survey_id" name="survey_id" value="<%=data.dataset?.survey_id%>" />
					<label>ส่วนที่ 5 ระดับการรับรู้และความเข้าใจเกี่ยวกับกระบวนการยุติธรรมทางเลือก</label></br>
					<div class="p-fluid p-formgrid p-grid">
						<div class="p-field p-col">
							<div class="row">
								<table class="tg" style="margin-left : 10px;">
									<thead>
										<tr>
											<th class="tg-9wq8 bg nowrap">ข้อคำถาม</th>
											<th class="tg-c3ow bg nowrap">ทราบ</th>
											<th class="tg-c3ow bg nowrap">ไม่ทราบ</th>
											<th class="tg-c3ow bg nowrap">ไม่ประสงค์จะตอบ</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="tg-0lax">2.1 ประเทศไทยมีระบบการยุติข้อพิพาทโดยไม่ต้องนำคดีขึ้นสู่ศาลด้วยการใช้วิธีการไกล่เกลี่ย หรือประนีประนอมยอมความ หรือระบบอนุญาโตตุลาการนอกศาล<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_1_1" name="ME_1_1" value="1" <%=page.checked("1",data.dataset?.ME_1_1)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_1_2" name="ME_1_1" value="2" <%=page.checked("2",data.dataset?.ME_1_1)%> /></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_1_3" name="ME_1_1" value="3" <%=page.checked("3",data.dataset?.ME_1_1)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2 นอกจากการไกล่เกลี่ยระงับข้อพิพาทกระบวนการยุติธรรมทางเลือกยังรวมถึงทางเลือกในการปฏิบัติต่อผู้กระทำผิด เช่น มาตรการพิเศษแทนการดำเนินคดีในคดีเด็กและเยาวชน การไกล่เกลี่ยคดีอาญาแทนการดำเนินคดีโดยตำรวจและศาล การบำบัดฟื้นฟู ผู้ติดยาเสพติดแทนการลงโทษจำคุก<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_2_1" name="ME_1_2" value="1" <%=page.checked("1",data.dataset?.ME_1_2)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_2_2" name="ME_1_2" value="2" <%=page.checked("2",data.dataset?.ME_1_2)%> /></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_2_3" name="ME_1_2" value="3" <%=page.checked("3",data.dataset?.ME_1_2)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.3 ช่องทางในการติดต่อขอรับบริการยุติธรรมทางเลือกมีทั้งในคดีแพ่งโดยขอรับบริการจากศาลหรือสถาบันอนุญาโตตุลาการ และในคดีอาญาทั้งในขั้นตอนของตำรวจ อัยการ ศาล รวมถึงยุติธรรมจังหวัด ยุติธรรมชุมชน ด้วย<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_3_1" name="ME_1_3" value="1" <%=page.checked("1",data.dataset?.ME_1_3)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_3_2" name="ME_1_3" value="2" <%=page.checked("2",data.dataset?.ME_1_3)%> /></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_3_3" name="ME_1_3" value="3" <%=page.checked("3",data.dataset?.ME_1_3)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.4 กระบวนการยุติธรรมทางเลือกเป็นมาตรการเสริมเพื่อช่วยให้คู่กรณีปรับความเข้าใจกัน ผู้กระทำผิดสำนึกผิด และยินยอมเข้ารับการช่วยเหลือฟื้นฟูพฤติกรรม พร้อมทั้งเยียวยาความเสียหายแก่ผู้เสียหาย โดยมิใช่การทดแทนกระบวนการยุติธรรมเดิม <span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_4_1" name="ME_1_4" value="1" <%=page.checked("1",data.dataset?.ME_1_4)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_4_2" name="ME_1_4" value="2" <%=page.checked("2",data.dataset?.ME_1_4)%> /></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_4_3" name="ME_1_4" value="3" <%=page.checked("3",data.dataset?.ME_1_4)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.5 วัตถุประสงค์ของกระบวนการยุติธรรมทางเลือกนอกเหนือจากลดขั้นตอนและระยะเวลาการดำเนินคดีคือการช่วยฟื้นฟูความสัมพันธ์ระหว่างคู่กรณี<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_5_1" name="ME_1_5" value="1" <%=page.checked("1",data.dataset?.ME_1_5)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_5_2" name="ME_1_5" value="2" <%=page.checked("2",data.dataset?.ME_1_5)%> /></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_5_3" name="ME_1_5" value="3" <%=page.checked("3",data.dataset?.ME_1_5)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.6 วัตถุประสงค์ของกระบวนการยุติธรรมทางเลือกอีกประการหนึ่งคือลดการกระทำผิดซ้ำโดยส่งเสริมให้ผู้กระทำผิดเปลี่ยนแปลงตนเองภายใต้ความร่วมมือของชุมชน หน่วยงานที่เกี่ยวข้อง และผู้เสียหาย<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_6_1" name="ME_1_6" value="1" <%=page.checked("1",data.dataset?.ME_1_6)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_6_2" name="ME_1_6" value="2" <%=page.checked("2",data.dataset?.ME_1_6)%> /></td>
											<td class="tg-0laa"><input type="radio" id="ME_1_6_3" name="ME_1_6" value="3" <%=page.checked("3",data.dataset?.ME_1_6)%> /></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>				
					<br>
					<label for="wight">ส่วนที่ 3 ข้อพิพาทและการจัดการข้อพิพาทที่พบ</label></br>
					<div class="row">
						<label class="col-form-label">3.1 ในรอบปีที่ผ่านมา (1 มกราคม 2566 – 31 ธันวาคม 2566) ท่านเคยประสบกับข้อพิพาทต่าง ๆ เหล่านี้หรือไม่ (ตอบได้มากกว่าหนึ่งข้อ)<span class="star"> *</span></label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_1" name="ME_2_1" value="1" <%=page.checked("1",data.dataset?.ME_2_1)%> /> (1) ไม่เคย
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_2" name="ME_2_2" value="1" <%=page.checked("1",data.dataset?.ME_2_2)%> /> (2) ข้อพิพาทเกี่ยวกับที่ดินหรือการซื้อและขายสินทรัพย์ (เช่น ข้อพิพาทเรื่องกรรมสิทธิ์ในทรัพย์สิน หรือการครอบครองที่ดินโดยมิชอบ)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_3" name="ME_2_3" value="1" <%=page.checked("1",data.dataset?.ME_2_3)%> /> (3) ข้อพิพาทที่อยู่อาศัย (เช่น ปัญหากับเจ้าของบ้านหรือ ผู้เช่าเกินค่าเช่า ความเสียหายหรือการ	ซ่อมแซม การเรียกเก็บค่าส่วนกลาง ถูกฟ้องขับไล่หรือยึดบ้าน)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_4" name="ME_2_4" value="1" <%=page.checked("1",data.dataset?.ME_2_4)%> /> (4) ข้อพิพาทเกี่ยวกับที่ดินทำกิน (เช่น ที่ดินทับซ้อนกับเขตป่าไม้หรือพื้นที่อนุรักษ์หรือที่ดินของรัฐอื่น การบุกรุกป่า) 
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_5" name="ME_2_5" value="1" <%=page.checked("1",data.dataset?.ME_2_5)%> /> (5) ข้อพิพาทเกี่ยวกับการไล่รื้อที่ดิน (เช่น การบุกรุกที่ดินของรัฐ)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_6" name="ME_2_6" value="1" <%=page.checked("1",data.dataset?.ME_2_6)%> /> (6) ปัญหาครอบครัว (เช่น การหย่าร้าง การแบ่งสิทธิ์เลี้ยงดูบุตร หรือพินัยกรรม)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_7" name="ME_2_7" value="1" <%=page.checked("1",data.dataset?.ME_2_7)%> /> (7) การเรียกร้องค่าชดเชยสำหรับการบาดเจ็บหรือการเจ็บป่วยที่เกิดจากอุบัติเหตุ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_8" name="ME_2_8" value="1" <%=page.checked("1",data.dataset?.ME_2_8)%> /> (8) การเรียกร้องค่าชดเชยสำหรับการบาดเจ็บหรือการเจ็บป่วยที่เกิดทำร้ายร่างกายหรือประทุษร้ายต่อกายหรือจิตใจ (เช่น ถูกทำร้าย ถูกข่มขืน ถูกปล้นชิงทรัพย์ หรือการประทุษร้ายอื่น ๆ)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_9" name="ME_2_9" value="1" <%=page.checked("1",data.dataset?.ME_2_9)%> /> (9) การเรียกร้องค่าชดเชยจากการรักษาพยาบาลผิดพลาดทางการแพทย์
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_10" name="ME_2_10" value="1" <%=page.checked("1",data.dataset?.ME_2_10)%> /> (10) ข้อพิพาทเกี่ยวกับการจ้างงานหรือแรงงาน (เช่น ค่าจ้าง สวัสดิการ การถูกไล่ออกอย่างไม่เป็นธรรม หรือการถูกล่วงละเมิดในที่ทำงาน)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_11" name="ME_2_11" value="1" <%=page.checked("1",data.dataset?.ME_2_11)%> /> (11) การเรียกร้องจ่ายเงินของรัฐบาล (เช่น เบี้ยยังชีพผู้พิการ เบี้ยยังชีพผู้สูงอายุ เงินช่วยเหลือการศึกษา)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_12" name="ME_2_12" value="1" <%=page.checked("1",data.dataset?.ME_2_12)%> /> (12) บริการและสวัสดิการของรัฐบาล (เช่น ปัญหาการเข้าถึงการรักษาพยาบาล การศึกษา น้ำและไฟฟ้า)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_13" name="ME_2_13" value="1" <%=page.checked("1",data.dataset?.ME_2_13)%> /> (13) สินค้าและบริการอื่นๆ หรือการเรียกร้องเกี่ยวกับการคุ้มครองผู้บริโภค (เช่น ปัญหาเกี่ยวกับกับบริการหรือสินค้าไม่ได้คุณภาพ) 
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_14" name="ME_2_14" value="1" <%=page.checked("1",data.dataset?.ME_2_14)%> /> (14) ข้อพิพาทเกี่ยวกับสัญญาประกันภัย
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_15" name="ME_2_15" value="1" <%=page.checked("1",data.dataset?.ME_2_15)%> /> (15) ข้อพิพาทเกี่ยวกับหนี้สิน (เช่น ไม่สามารถชำระหนี้ได้)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_16" name="ME_2_16" value="1" <%=page.checked("1",data.dataset?.ME_2_16)%> /> (16) ข้อพิพาทเกี่ยวกับการทำลายสิ่งแวดล้อมหรือการปล่อยมลภาวะที่ส่งผลกระทบต่อท่าน ทรัพย์สินของท่าน หรือชุมชนที่ท่านอาศัยอยู่ (เช่น มลพิษทางน้ำ การทิ้งขยะ)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_17" name="ME_2_17" value="1" <%=page.checked("1",data.dataset?.ME_2_17)%> /> (17) ข้อพิพาทโต้เถียงในละแวกบ้าน รวมทั้งปัญหากับเพื่อนบ้าน (เช่นเสียงดังรบกวน ทำลายทรัพย์สิน หรือการบริโภคเครื่องดื่มแอลกอฮอล์หรือยาเสพติด)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_18" name="ME_2_18" value="1" <%=page.checked("1",data.dataset?.ME_2_18)%> /> (18) ข้อพิพาทเกี่ยวกับโครงการพัฒนาของรัฐ (เช่น ผลกระทบทางสิ่งแวดล้อมจากโครงการของรัฐขนาดใหญ่ การสร้างโรงไฟฟ้า การสร้างที่จัดเก็บขยะ การเวนคืนที่ดิน เป็นต้น)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_2_19" name="ME_2_19" value="1" <%=page.checked("1",data.dataset?.ME_2_19)%> /> (19) ข้อพิพาทอื่นๆ
							</label>
						</div>
						<div class="row indent" class="col-lg-12">
							<div class="col-form-label inputTextFix" style="margin-left: 10px;">
								โปรดระบุ
							</div>
							<div class="col-lg-12">
								<input type="text" class="form-control" id="ME_2_19_text" name="ME_2_19_text" value="<%=data.dataset?.ME_2_19_text%>" maxlength="50" readonly />
							</div>
						</div>
					</div>
					<div class="row indent">
							<div class="col-form-label inputTextFix" style="margin-left: 10px;">
							หมายเหตุ: กรณีตอบข้อใดข้อหนึ่งให้นับเป็นเคยประสบกับปัญหาข้อพิพาท
							</div>
						</div>
					<br>
					<div class="row">
						<label class="col-form-label">3.2 กรณีที่ท่านเคยประสบกับข้อพิพาท ท่านได้ใช้บริการกับหน่วยงานใดบ้างในการระงับข้อพิพาท (ตอบได้มากกว่าหนึ่งข้อ)<span class="star"> *</span></label>
					</div>
					<div class="row indent">
						<label class="col-form-label">3.2.1 การระงับข้อพิพาทอย่างเป็นทางการ</label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_1" name="ME_3_1" value="1" <%=page.checked("1",data.dataset?.ME_3_1)%> /> (1) ศาลยุติธรรม (ทั้งคดีแพ่งและคดีปกครอง)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_2" name="ME_3_2" value="1" <%=page.checked("1",data.dataset?.ME_3_2)%> /> (2) ศาลปกครอง
							</label>
						</div>
						<label class="col-form-label">3.2.2 การระงับข้อพิพาททางเลือก</label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_3" name="ME_3_3" value="1" <%=page.checked("1",data.dataset?.ME_3_3)%> /> (3) การไกล่เกลี่ยประนีประนอมยอมความโดยตำรวจ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_4" name="ME_3_4" value="1" <%=page.checked("1",data.dataset?.ME_3_4)%> /> (4) การไกล่เกลี่ยประนีประนอมยอมความโดยพนักงานอัยการ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_5" name="ME_3_5" value="1" <%=page.checked("1",data.dataset?.ME_3_5)%> /> (5) การไกล่เกลี่ยประนีประนอมโดยศาลยุติธรรม
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_6" name="ME_3_6" value="1" <%=page.checked("1",data.dataset?.ME_3_6)%> /> (6) การไกล่เกลี่ยประนีประนอมโดยศาลปกครอง
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_7" name="ME_3_7" value="1" <%=page.checked("1",data.dataset?.ME_3_7)%> /> (7) ศูนย์คุ้มครองสิทธิและเสรีภาพ กรมคุ้มครองสิทธิและเสรีภาพ กระทรวงยุติธรรม
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_8" name="ME_3_8" value="1" <%=page.checked("1",data.dataset?.ME_3_8)%> /> (8) สำนักงานยุติธรรมจังหวัด
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_9" name="ME_3_9" value="1" <%=page.checked("1",data.dataset?.ME_3_9)%> /> (9) สำนักงานยุติธรรมชุมชน
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_10" name="ME_3_10" value="1" <%=page.checked("1",data.dataset?.ME_3_10)%> /> (10) ศูนย์ไกล่เกลี่ยข้อพิพาทภาคประชาชน
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_11" name="ME_3_11" value="1" <%=page.checked("1",data.dataset?.ME_3_11)%> /> (11) ผู้นำหรือผู้มีอำนาจทางศาสนา
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_12" name="ME_3_12" value="1" <%=page.checked("1",data.dataset?.ME_3_12)%> /> (12) ผู้นำชุมชนหรือผู้มีอำนาจ (เช่น กำนัน ผู้ใหญ่บ้าน หรือผู้นำท้องถิ่น)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_13" name="ME_3_13" value="1" <%=page.checked("1",data.dataset?.ME_3_13)%> /> (13) ผู้ประนีประนอม นักไกล่เกลี่ย ทนายความ นักกฎหมายชุมชน
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_14" name="ME_3_14" value="1" <%=page.checked("1",data.dataset?.ME_3_14)%> /> (14) อนุญาโตตุลาการ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_15" name="ME_3_15" value="1" <%=page.checked("1",data.dataset?.ME_3_15)%> /> (15) ศูนย์ดำรงธรรม
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_16" name="ME_3_16" value="1" <%=page.checked("1",data.dataset?.ME_3_16)%> /> (16) หน่วยงานของรัฐที่เกี่ยวข้อง (เช่น กรมป่าไม้ กรมอุทยานฯ การท่าเรือฯ สถาบัน	พัฒนาองค์กรชุมชน สำนักงานคุ้มครองผู้บริโภค เป็นต้น)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_17" name="ME_3_17" value="1" <%=page.checked("1",data.dataset?.ME_3_17)%> /> (17) การร้องเรียนผ่านช่องทางของรัฐต่าง ๆ (เช่น 1111 ผู้ตรวจการแผ่นดิน สำนักงาน	คณะกรรมการสิทธิมนุษยชนแห่งชาติ คณะกรรมาธิการฯ ต่างๆ ช่องทางร้องเรียนของหน่วยงานของรัฐที่รับผิดชอบ)
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_18" name="ME_3_18" value="1" <%=page.checked("1",data.dataset?.ME_3_18)%> /> (18) ความช่วยเหลือจากองค์กรภาคเอกชน NGOs
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_19" name="ME_3_19" value="1" <%=page.checked("1",data.dataset?.ME_3_19)%> /> (19) บุคคลหรือองค์กรอื่น
							</label>
						</div>
						<div class="col-lg-12">
							<div class="col-form-label inputTextFix" style="margin-left: 30px;">
								โปรดระบุ
							</div>
							<div class="col-lg-5">
								<input type="text" class="form-control" id="ME_3_19_text" name="ME_3_19_text" value="<%=data.dataset?.ME_3_19_text%>" maxlength="50"  readonly />
							</div>
						</div>
						<label class="col-form-label">3.2.3 ไม่ได้เข้าสู่การระงับข้อพิพาท</label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_20" name="ME_3_20" value="1" <%=page.checked("1",data.dataset?.ME_3_20)%> /> (20) ไม่ทราบช่องทางหรือวิธีการในการเข้าสู่กระบวนการระงับข้อพิพาท
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_21" name="ME_3_21" value="1" <%=page.checked("1",data.dataset?.ME_3_21)%> /> (21) ได้จัดการปัญหาด้วยตนเอง
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_22" name="ME_3_22" value="1" <%=page.checked("1",data.dataset?.ME_3_22)%> /> (22) ค่าใช้จ่ายแพงเกินไป 
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_23" name="ME_3_23" value="1" <%=page.checked("1",data.dataset?.ME_3_23)%> /> (23) เป็นเรื่องเล็กน้อยคิดว่าปัญหาไม่สำคัญเพียงพอ
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_24" name="ME_3_24" value="1" <%=page.checked("1",data.dataset?.ME_3_24)%> /> (24) ปัญหาเกิดจากท่านเอง
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_25" name="ME_3_25" value="1" <%=page.checked("1",data.dataset?.ME_3_25)%> /> (25) คู่กรณีไม่ยินยอมเข้าสู่กระบวนการระงับหรือแก้ไขปัญหาข้อพิพาท
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_26" name="ME_3_26" value="1" <%=page.checked("1",data.dataset?.ME_3_26)%> /> (26) ไม่สะดวก/ไม่มีเวลา
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_27" name="ME_3_27" value="1" <%=page.checked("1",data.dataset?.ME_3_27)%> /> (27) ไม่ไว้วางใจเจ้าหน้าที่
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_28" name="ME_3_28" value="1" <%=page.checked("1",data.dataset?.ME_3_28)%> /> (28) ไม่คิดว่าจะช่วยได้
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_29" name="ME_3_29" value="1" <%=page.checked("1",data.dataset?.ME_3_29)%> /> (29) กังวลกับผลกระทบหรือกลัวผลเสียที่จะตามมา
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="checkbox" id="ME_3_30" name="ME_3_30" value="1" <%=page.checked("1",data.dataset?.ME_3_30)%> /> (30) เหตุผลอื่นๆ ในการไม่ได้เข้าสู่การระงับข้อพิพาท
							</label>
						</div>
						<div class="row indent">
							<div class="col-form-label inputTextFix" style="margin-left: 10px;">
								โปรดระบุ
							</div>
							<div class="col-lg-12">
								<input type="text" class="form-control" id="ME_3_30_text" name="ME_3_30_text" value="<%=data.dataset?.ME_3_30_text%>" maxlength="50"  readonly />
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-form-label">3.3 หากในช่วงสองปีที่ผ่านท่านเคยประสบข้อพิพาทและได้เข้ารับการระงับข้อพิพาท ปัญหาของท่านที่ท่านพบได้รับการแก้ไขอย่างไร<span class="star"> *</span></label>
						<div class="col-lg-12">
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="ME_4_1_1" name="ME_4_1" value="1" <%=page.checked("1",data.dataset?.ME_4_1)%> data-parsley-required="true" /> (1) ปัญหาทั้งหมดไม่ได้รับการแก้ไขเลย
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="ME_4_1_2" name="ME_4_1" value="2" <%=page.checked("2",data.dataset?.ME_4_1)%> /> (2) ปัญหาส่วนใหญ่ไม่ได้รับการแก้ไข
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="ME_4_1_3" name="ME_4_1" value="3" <%=page.checked("3",data.dataset?.ME_4_1)%> /> (3) ปัญหาบางส่วนได้รับการแก้ไข
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="ME_4_1_4" name="ME_4_1" value="4" <%=page.checked("4",data.dataset?.ME_4_1)%> /> (4) ปัญหาส่วนใหญ่ได้รับการแก้ไข
							</label>
							<label class="radio-inline col-form-label  col-lg-12" style="margin-left: 10px;">
								<input type="radio" id="ME_4_1_5" name="ME_4_1" value="5" <%=page.checked("5",data.dataset?.ME_4_1)%> /> (5) ปัญหาทั้งหมดได้รับการแก้ไข
							</label>
						</div>
					</div>
				</form>
			</div>
			<br/>
			<div class="row">
				<div class="col-lg-1.5" style="margin-left: auto; margin-right: 0;">
					<% if(!page.isUpdateMode(data.action)) {%>
						<button id="buttonsave" class="ui basic green button btn-form-varidate-save"><i class="save icon large button"></i> บันทึก</button>
					<% } %>
					<% if(page.isUpdateMode(data.action)) {%>
						<button id="buttonupdate" class="ui basic green button btn-form-varidate-edit" data-key="<%=data.dataset?.survey_id%>"><i class="save icon large button"></i> ปรับปรุง</button>
					<% } %>
				</div>
				<div class="col-lg-1.5">
					<button id="buttoncancel" class="ui basic red button"><i class="cancel icon large button"></i> ยกเลิก</button>
				</div>
			</div>
			<br/>
		</div>
	</div>
</body>
</html>
