<!DOCTYPE html>
<html lang="en">
<head>
	<title>Measure</title>
	<%- include('../asset/meta') %>		
	<%- include('../asset/styles') %>		
	<%- include('../asset/scripts') %>
	<script type="text/javascript" src="<%=meta.cdn_url%>/measure_b/measure_b.js"></script>
</head>
<body>
	<%- include('../partials/page_waiting') %>
	<div id="page-container" class="page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer page-without-sidebar">
		<%- include('../partials/page_header') %>
		<div class="panel container" style="margin-top : 10px;">
			<h1 class="page-header" style="margin-top : 10px;">แบบสำรวจตัวชี้วัดกระบวนการยุติธรรม</h1>
			<label class="col-form-label">แบบสำรวจการรับรู้สิทธิทางกฎหมาย และความรู้พื้นฐานด้านกระบวนการยุติธรรม</label>
			<div class="body" id="form-data-layer">
				<form class="a form app form-horizontal" id="form-data-validate" data-parsley-errors-messages-disabled data-parsley-inputs="input:not([type='checkbox']), textarea, select" method="post">
					<input type="hidden" id="ajax" name="ajax" value="true" />
					<input type="hidden" id="userid" name="userid" value="<%=meta.user?.userid%>" />
					<input type="hidden" id="profile_id" name="profile_id" value="<%=data.dataset?.profile_id%>" />
					<input type="hidden" id="survey_id" name="survey_id" value="<%=data.dataset?.survey_id%>" />
					<label>ส่วนที่ 2 การรับรู้สิทธิทางกฎหมาย และความรู้พื้นฐานด้านกระบวนการยุติธรรม </label><br/>
					<div class="p-fluid p-formgrid p-grid">
						<div class="p-field p-col">
							<div class="row">
								<table class="tg" style="margin-left : 10px;">
									<thead>
										<tr>
											<th class="tg-9wq8 bg">ข้อคำถาม</th>
											<th class="tg-c3ow bg nowrap">ทราบ</th>
											<th class="tg-c3ow bg nowrap">ไม่ทราบ</th>
											<th class="tg-c3ow bg nowrap">ไม่ประสงค์จะตอบ</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="tg-0laq bg" colspan="4">2.1 ความรู้และความเข้าใจสิทธิพื้นฐาน</td>
										</tr>
										<tr>
											<td class="tg-0lax">2.1.1 ท่านทราบว่าเจ้าหน้าที่ตำรวจหรือเจ้าหน้าที่ของรัฐอื่นไม่มีสิทธิที่จะจับกุมหรือคุมขังตัวท่านเว้นแต่มีหมายจับจากศาลหรือเป็นความผิดซึ่งหน้า (พบเห็นการกระทำผิดต่อหน้าเจ้าหน้าที่)<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_1_1" name="MB_1_1" value="1" <%=page.checked("1",data.dataset?.MB_1_1)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_1_2" name="MB_1_1" value="2" <%=page.checked("2",data.dataset?.MB_1_1)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_1_3" name="MB_1_1" value="3" <%=page.checked("3",data.dataset?.MB_1_1)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.1.2 ท่านทราบว่าเจ้าหน้าที่ตำรวจหรือเจ้าหน้าที่ของรัฐอื่นไม่มีสิทธิที่เข้าตรวจค้นบ้าน สำนักงาน หรือพื้นที่ส่วนตัวของท่าน (พื้นที่รโหฐาน)เว้นแต่จะมีหมายค้นตามคำสั่งศาล<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_2_1" name="MB_1_2" value="1" <%=page.checked("1",data.dataset?.MB_1_2)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_2_2" name="MB_1_2" value="2" <%=page.checked("2",data.dataset?.MB_1_2)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_2_3" name="MB_1_2" value="3" <%=page.checked("3",data.dataset?.MB_1_2)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.1.3 ท่านทราบว่าท่านมีสิทธิจะพบทนายความเมื่อตกเป็นผู้ต้องหาหรือจำเลยในคดีอาญา และมีสิทธิที่จะปรึกษาผู้ที่ท่านไว้วางใจสองต่อสอง<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_3_1" name="MB_1_3" value="1" <%=page.checked("1",data.dataset?.MB_1_3)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_3_2" name="MB_1_3" value="2" <%=page.checked("2",data.dataset?.MB_1_3)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_3_3" name="MB_1_3" value="3" <%=page.checked("3",data.dataset?.MB_1_3)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.1.4 ท่านทราบว่าหากท่านถูกจับกุมหรือควบคุมตัวท่านมีสิทธิที่จะได้รับการเยี่ยมตามสมควร<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_4_1" name="MB_1_4" value="1" <%=page.checked("1",data.dataset?.MB_1_4)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_4_2" name="MB_1_4" value="2" <%=page.checked("2",data.dataset?.MB_1_4)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_4_3" name="MB_1_4" value="3" <%=page.checked("3",data.dataset?.MB_1_4)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.1.5 ท่านทราบว่าหากท่านถูกจับกุมหรือควบคุมตัวท่านมีสิทธิที่จะได้รับการรักษาพยาบาลตามสมควรเมื่อเจ็บป่วย<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_5_1" name="MB_1_5" value="1" <%=page.checked("1",data.dataset?.MB_1_5)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_5_2" name="MB_1_5" value="2" <%=page.checked("2",data.dataset?.MB_1_5)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_5_3" name="MB_1_5" value="3" <%=page.checked("3",data.dataset?.MB_1_5)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.1.6 ท่านทราบว่าการควบคุมหรือคุมขังผู้ต้องหาหรือจำเลยในคดีอาญาสามารถทำได้เท่าที่จำเป็นโดยผู้ต้องหาหรือจำเลยมีสิทธิที่จะร้องให้มีการขอปล่อยตัวชั่วคราวโดยมีหลักประกัน (ประกันตัว) หรือไม่มีหลักประกันก็ได้<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_6_1" name="MB_1_6" value="1" <%=page.checked("1",data.dataset?.MB_1_6)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_6_2" name="MB_1_6" value="2" <%=page.checked("2",data.dataset?.MB_1_6)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_6_3" name="MB_1_6" value="3" <%=page.checked("3",data.dataset?.MB_1_6)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.1.7 ท่านทราบว่าเจ้าหน้าที่จะค้นตัวบุคคลโดยใช้ความรุนแรงเกินความจำเป็นหรือจะทำร้ายร่างกายไม่ได้เว้นแต่มีการต่อสู้ขัดขืน<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_7_1" name="MB_1_7" value="1" <%=page.checked("1",data.dataset?.MB_1_7)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_7_2" name="MB_1_7" value="2" <%=page.checked("2",data.dataset?.MB_1_7)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_7_3" name="MB_1_7" value="3" <%=page.checked("3",data.dataset?.MB_1_7)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.1.8 ท่านทราบว่าการซ้อมทรมาน การทำร้ายร่างกาย การใช้ความรุนแรง หรือการบังคับให้รับสารภาพในการดำเนินคดีจะกระทำมิได้ ถ้าจะมีการจับกุมบุคคล เจ้าพนักงานต้องมีการบันทึกภาพวิดีโอ (บันทึกภาพและเสียงอย่างต่อเนื่อง) ในขณะจับกุมหรือควบคุมตัวจนนำส่งพนักงานสอบสวนเพื่อป้องกันเหตุดังกล่าว<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_8_1" name="MB_1_8" value="1" <%=page.checked("1",data.dataset?.MB_1_8)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_8_2" name="MB_1_8" value="2" <%=page.checked("2",data.dataset?.MB_1_8)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_8_3" name="MB_1_8" value="3" <%=page.checked("3",data.dataset?.MB_1_8)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.1.9 ท่านมีสิทธิจะได้รับบริการจากเจ้าหน้าที่อย่างเป็นธรรมโดยไม่เลือกปฏิบัติหรือไม่ถูกดำเนินคดีอย่างไม่เป็นธรรมด้วยความแตกต่างในเรื่อง ถิ่นกำเนิด เชื้อชาติ ภาษา เพศ อายุ ศาสนา การศึกษา ความพิการ สภาพร่างกาย สุขภาพ หรือสถานะของบุคคล ฐานะทางเศรษฐกิจหรือสังคม หรือความแตกต่างในความคิดเห็นทางการเมือง<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_9_1" name="MB_1_9" value="1" <%=page.checked("1",data.dataset?.MB_1_9)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_9_2" name="MB_1_9" value="2" <%=page.checked("2",data.dataset?.MB_1_9)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_9_3" name="MB_1_9" value="3" <%=page.checked("3",data.dataset?.MB_1_9)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.1.10 ท่านทราบว่าหากท่านถูกจับกุมหรือดำเนินคดีจะสันนิษฐานไว้ก่อนว่าท่านเป็นผู้ ‘บริสุทธิ์’ จนกว่าคดีจะถึงที่สุด การปฏิบัติและการควบคุมตัวจะกระทำเหมือนท่านเป็นผู้กระทำผิดมิได้<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_10_1" name="MB_1_10" value="1" <%=page.checked("1",data.dataset?.MB_1_10)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_10_2" name="MB_1_10" value="2" <%=page.checked("2",data.dataset?.MB_1_10)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_1_10_3" name="MB_1_10" value="3" <%=page.checked("3",data.dataset?.MB_1_10)%> /></td>
										</tr>
										<tr>
											<td class="tg-0laq bg" colspan="4">2.2 ความรู้พื้นฐานเกี่ยวกับช่องทางและการเข้าถึงกระบวนการยุติธรรม</td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.1 ท่านทราบว่าท่านสามารถขอรับความช่วยเหลือจากตำรวจหรือเจ้าพนักงานกรมสอบสวนคดีพิเศษในการสืบสวนติดตามตัวคนร้ายและดำเนินคดีกับผู้กระทำผิดได้โดยไม่ต้องเสียค่าใช้จ่ายในการดำเนินคดี หากท่านตกเป็นเหยื่ออาชญากรรมหรือตกเป็นผู้เสียหายในคดีอาญา<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_1_1" name="MB_2_1" value="1" <%=page.checked("1",data.dataset?.MB_2_1)%> data-parsley-required="true"/></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_1_2" name="MB_2_1" value="2" <%=page.checked("2",data.dataset?.MB_2_1)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_1_3" name="MB_2_1" value="3" <%=page.checked("3",data.dataset?.MB_2_1)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.2 ท่านทราบว่าท่านสามารถเป็นโจทก์ในการยื่นฟ้องคดีต่อศาลได้โดยตรง หรือเข้าเป็นโจทก์ร่วมในการดำเนินคดีได้ หากไม่พอใจหรือไม่ไว้วางใจกับดำเนินคดีของเจ้าหน้าที่ตำรวจ (หรือเจ้าหน้าที่กรมสอบสวนคดีพิเศษ) หรือคำสั่งของเจ้าพนักงานอัยการ<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_2_1" name="MB_2_2" value="1" <%=page.checked("1",data.dataset?.MB_2_2)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_2_2" name="MB_2_2" value="2" <%=page.checked("2",data.dataset?.MB_2_2)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_2_3" name="MB_2_2" value="3" <%=page.checked("3",data.dataset?.MB_2_2)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.3 ท่านทราบว่าท่านหรือทายาทของท่านมีสิทธิร้องขอเงินชดเชยเยียวยาจากรัฐได้จากกรมคุ้มครองสิทธิเสรีภาพหรือขอรับความช่วยเหลือผ่านหน่วยงานยุติธรรมจังหวัดในทุกจังหวัด หากท่านตกเป็นเหยื่ออาชญากรรมในความผิดเกี่ยวกับชีวิตร่างกายถึงแก่ความตายหรือได้รับอันตรายสาหัส หรือความผิดการกระทำรุนแรงทางเพศโดยที่ท่านไม่ได้มีส่วนร่วมในการก่อเหตุ<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_3_1" name="MB_2_3" value="1" <%=page.checked("1",data.dataset?.MB_2_3)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_3_2" name="MB_2_3" value="2" <%=page.checked("2",data.dataset?.MB_2_3)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_3_3" name="MB_2_3" value="3" <%=page.checked("3",data.dataset?.MB_2_3)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.4 ท่านทราบว่าประเทศไทยมีกระบวนการคุ้มครองพิเศษและมาตรการพิเศษในการดำเนินคดีกับเด็กและเยาวชน (ผู้มีอายุต่ำกว่า 18 ปี) ดำเนินการโดยสถานพินิจและคุ้มครองเด็กและเยาวชนและศาลเยาวชนและครอบครัวในทุกจังหวัด<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_4_1" name="MB_2_4" value="1" <%=page.checked("1",data.dataset?.MB_2_4)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_4_2" name="MB_2_4" value="2" <%=page.checked("2",data.dataset?.MB_2_4)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_4_3" name="MB_2_4" value="3" <%=page.checked("3",data.dataset?.MB_2_4)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.5 ท่านทราบว่าท่านสามารถยื่นอุทธรณ์คดีได้ภายในกำหนดระยะเวลาและเงื่อนไขที่กำหนดผ่านหน่วยงานศาลที่พิจารณาคดีนั้น หากท่านไม่พอใจคำตัดสินคดีของศาล<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_5_1" name="MB_2_5" value="1" <%=page.checked("1",data.dataset?.MB_2_5)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_5_2" name="MB_2_5" value="2" <%=page.checked("2",data.dataset?.MB_2_5)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_5_3" name="MB_2_5" value="3" <%=page.checked("3",data.dataset?.MB_2_5)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.6 ท่านทราบว่าท่านมีสิทธิที่จะได้รับการพิจารณาให้มีการคุมความประพฤติหรือใช้มาตรการอื่น ๆ แทนการลงโทษจำคุกได้โดยสำนักงานคุมประพฤติในทุกจังหวัด หากท่านกระทำผิดไม่ร้ายแรงถึงขนาดต้องโทษจำคุก หรือกระทำผิดที่มีโทษจำคุกแต่มีโอกาสที่จะกลับใจแก้ไขได้<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_6_1" name="MB_2_6" value="1" <%=page.checked("1",data.dataset?.MB_2_6)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_6_2" name="MB_2_6" value="2" <%=page.checked("2",data.dataset?.MB_2_6)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_6_3" name="MB_2_6" value="3" <%=page.checked("3",data.dataset?.MB_2_6)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.7 ท่านทราบว่าผู้กระทำความผิดเสพยาเสพติดหรือผู้ติดยาเสพติดสามารถเข้ารับการบำบัดฟื้นฟูสมรรถภาพผู้ติดยาเสพติดแทนการดำเนินคดีอาญาได้โดยสำนักงานคุมประพฤติในทุกจังหวัด<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_7_1" name="MB_2_7" value="1" <%=page.checked("1",data.dataset?.MB_2_7)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_7_2" name="MB_2_7" value="2" <%=page.checked("2",data.dataset?.MB_2_7)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_7_3" name="MB_2_7" value="3" <%=page.checked("3",data.dataset?.MB_2_7)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.8 ท่านทราบว่าผู้ต้องขังหรือนักโทษหรือญาติสามารถขอรับความช่วยเหลือจากผู้คุมหรือผู้บริหารเรือนจำ หากผู้ต้องขังหรือนักโทษประสบปัญหาเกี่ยวกับชีวิตความเป็นอยู่หรือการปฏิบัติต่อผู้กระทำความผิดในเรือนจำ (เช่น ถูกกระทำรุนแรง ปัจจัยสี่ไม่เพียงพอ)<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_8_1" name="MB_2_8" value="1" <%=page.checked("1",data.dataset?.MB_2_8)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_8_2" name="MB_2_8" value="2" <%=page.checked("2",data.dataset?.MB_2_8)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_8_3" name="MB_2_8" value="3" <%=page.checked("3",data.dataset?.MB_2_8)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.9 ท่านทราบว่านักโทษในเรือนจำมีสิทธิขอรับการลดหย่อนโทษหากประพฤติหรือมีการกลับใจแก้ไขไม่กลับไปกระทำผิดอีกโดยยื่นคำร้องไปยังเรือนจำที่นักโทษถูกคุมขังอยู่<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_9_1" name="MB_2_9" value="1" <%=page.checked("1",data.dataset?.MB_2_9)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_9_2" name="MB_2_9" value="2" <%=page.checked("2",data.dataset?.MB_2_9)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_9_3" name="MB_2_9" value="3" <%=page.checked("3",data.dataset?.MB_2_9)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.10 ท่านทราบว่าผู้พ้นโทษมีสิทธิได้รับการสงเคราะห์ช่วยเหลือและได้รับการดูแลหลังปล่อยโดยขอรับความช่วยเหลือผ่านเรือนจำที่นักโทษได้รับการปล่อยตัว สำนักงานคุมประพฤติ หรือสำนักงานพัฒนาสังคมและความมั่นคงของมนุษย์จังหวัด<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_10_1" name="MB_2_10" value="1" <%=page.checked("1",data.dataset?.MB_2_10)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_10_2" name="MB_2_10" value="2" <%=page.checked("2",data.dataset?.MB_2_10)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_10_3" name="MB_2_10" value="3" <%=page.checked("3",data.dataset?.MB_2_10)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.11 ท่านทราบว่าหน่วยงานในกระบวนการยุติธรรมมีการกำหนดระยะเวลาแล้วเสร็จในการดำเนินการในขั้นตอนต่าง ๆ หากการดำเนินการไม่แล้วเสร็จตามระยะเวลาที่กำหนดสามารถร้องเรียนผู้บังคับบัญชาของเจ้าพนักงานให้เร่งรัดติดตามและแก้ไขเหตุแห่งความล่าช้านั้น<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_11_1" name="MB_2_11" value="1" <%=page.checked("1",data.dataset?.MB_2_11)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_11_2" name="MB_2_11" value="2" <%=page.checked("2",data.dataset?.MB_2_11)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_11_3" name="MB_2_11" value="3" <%=page.checked("3",data.dataset?.MB_2_11)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.12 ท่านทราบว่าในกรณีที่ท่านชนะคดีแพ่ง ท่านสามารถติดต่อหน่วยงานบังคับคดีเพื่อติดตามยึด อายัด และจำหน่ายทรัพย์สินของลูกหนี้ หรือดำเนินการต่าง ๆ ตามคำสั่งศาลได้ผ่านสำนักงานบังคับคดีในทุกจังหวัด<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_12_1" name="MB_2_12" value="1" <%=page.checked("1",data.dataset?.MB_2_12)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_12_2" name="MB_2_12" value="2" <%=page.checked("2",data.dataset?.MB_2_12)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_12_3" name="MB_2_12" value="3" <%=page.checked("3",data.dataset?.MB_2_12)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.13 ท่านทราบว่าหน่วยงานของรัฐจะต้องเป็นผู้จัดหาทนายให้ผ่านสถานีตำรวจหรือศาลก็ได้ หากท่านไม่มีเงินจ้างทนายความ <span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_13_1" name="MB_2_13" value="1" <%=page.checked("1",data.dataset?.MB_2_13)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_13_2" name="MB_2_13" value="2" <%=page.checked("2",data.dataset?.MB_2_13)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_13_3" name="MB_2_13" value="3" <%=page.checked("3",data.dataset?.MB_2_13)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.14 ท่านทราบว่าท่านสามารถขอเงินช่วยเหลือในการต่อสู้คดีทั้งคดีแพ่งและคดีอาญาผ่านสำนักงานกองทุนยุติธรรมหรือสำนักงานยุติธรรมจังหวัดในทุกจังหวัด หากท่านไม่มีเงินค่าใช้จ่ายในการต่อสู้คดี<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_14_1" name="MB_2_14" value="1" <%=page.checked("1",data.dataset?.MB_2_14)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_14_2" name="MB_2_14" value="2" <%=page.checked("2",data.dataset?.MB_2_14)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_14_3" name="MB_2_14" value="3" <%=page.checked("3",data.dataset?.MB_2_14)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.15 ท่านทราบว่าท่านสามารถขอรับความช่วยเหลือหลักทรัพย์ในการประกันตัวผ่านสำนักงานกองทุนยุติธรรมหรือสำนักงานยุติธรรมจังหวัดในทุกจังหวัด หรือสามารถขอรับความช่วยเหลือในการปล่อยตัวชั่วคราวโดยไม่มีหลักประกันผ่านศาลก็ได้ หากท่านถูกจับกุมหรือควบคุมตัวหากไม่มีเงินประกันตัว<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_15_1" name="MB_2_15" value="1" <%=page.checked("1",data.dataset?.MB_2_15)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_15_2" name="MB_2_15" value="2" <%=page.checked("2",data.dataset?.MB_2_15)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_15_3" name="MB_2_15" value="3" <%=page.checked("3",data.dataset?.MB_2_15)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.16 ท่านทราบว่าสามารถขอรับคำปรึกษาทางกฎหมายและช่องทางขอรับความช่วยเหลือต่าง ๆ ในกระบวนการยุติธรรมได้ผ่านสายด่วนยุติธรรม 1111 กด 77<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_16_1" name="MB_2_16" value="1" <%=page.checked("1",data.dataset?.MB_2_16)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_16_2" name="MB_2_16" value="2" <%=page.checked("2",data.dataset?.MB_2_16)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_16_3" name="MB_2_16" value="3" <%=page.checked("3",data.dataset?.MB_2_16)%> /></td>
										</tr>
										<tr>
											<td class="tg-0lax">2.2.17 ท่านทราบว่าในกรณีได้รับความเดือดร้อนหรือไม่ได้รับความเป็นธรรม ท่านสามารถขอความช่วยเหลือผ่านองค์กร มูลนิธิ หรือหน่วยงานภาคเอกชนที่ทำงานด้านยุติธรรมนอกเหนือจากหน่วยงานของรัฐด้านกระบวนการยุติธรรมก็ได้<span class="star"> *</span></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_17_1" name="MB_2_17" value="1" <%=page.checked("1",data.dataset?.MB_2_17)%> data-parsley-required="true" /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_17_2" name="MB_2_17" value="2" <%=page.checked("2",data.dataset?.MB_2_17)%> /></td>
											<td class="tg-0laa"><input type="radio" id="MB_2_17_3" name="MB_2_17" value="3" <%=page.checked("3",data.dataset?.MB_2_17)%> /></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</form>
			</div>
			</br/>
			<div class="row">
				<div class="col-lg-1.5" style="margin-left: auto; margin-right: 0;">
					<% if(!page.isUpdateMode(data.action)) {%>
						<button id="buttonsave" class="ui basic green button btn-form-varidate-save"><i class="save icon large button"></i> บันทึก</button>
					<% } %>
					<% if(page.isUpdateMode(data.action)) {%>
						<button id="buttonupdate" class="ui basic green button btn-form-varidate-edit" data-key="<%=data.dataset?.survey_id%>"><i class="save icon large button"></i> ปรับปรุง</button>
					<% } %>
				</div>
				<div class="col-lg-1.5">
					<button id="buttoncancel" class="ui basic red button"><i class="cancel icon large button"></i> ยกเลิก</button>
				</div>
			</div>
			</br/>
		</div>
	</div>
</body>
</html>
