<!DOCTYPE html>
<html lang="en">
<head>
	<title>Survey</title>
	<%- include('../asset/meta') %>		
	<%- include('../asset/styles') %>		
	<%- include('../asset/scripts') %>
	<script type="text/javascript" src="<%=meta.cdn_url%>/survey_by/survey_by.js"></script>
</head>
<body>
	<%- include('../partials/page_waiting') %>
	<div id="page-container" class="page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer page-without-sidebar">
		<%- include('../partials/page_header') %>
		<div class="panel container" style="margin-top : 10px;">
			<h1 class="page-header" style="margin-top : 10px;">แบบสำรวจข้อมูลสถิติอาชญากรรมภาคประชาชน</h1>
			<div class="body" id="by-form-data-layer">
				<%- include('./survey_by_kit') %>
			</div>
			<br/>
			<div class="row">
				<div class="col-lg-1.5" style="margin-left: auto; margin-right: 0;">
					<% if(!page.isUpdateMode(data.action)) {%>
						<button id="bybuttonsave" class="ui basic green button btn-form-varidate-save"><i class="save icon large button"></i> บันทึก</button>
					<% } %>
					<% if(page.isUpdateMode(data.action)) {%>
						<button id="bybuttonupdate" class="ui basic green button btn-form-varidate-edit" data-key="<%=data.dataset?.survey_id%>"><i class="save icon large button"></i> ปรับปรุง</button>
					<% } %>
				</div>
				<div class="col-lg-1.5">
					<button id="bybuttoncancel" class="ui basic red button"><i class="cancel icon large button"></i> ยกเลิก</button>
				</div>
			</div>
			<br/>
		</div>
	</div>
</body>
</html>
