								<table class="tg data-table" style="margin-left : 10px;">
									<thead>
										<tr>
											<th class="tg-c3oa bg">ลำดับที่</th>
											<th class="tg-9wq8 bg">ลักษณะความผิด<br></th>
											<th class="tg-c3oa bg">ประเภทความผิด</th>
											<th class="tg-c3oa bg nowrap">สถานะ</th>
											<th class="tg-c3oa bg">สถานที่เกิดเหตุ</th>
											<th class="tg-c3oa bg"></th>
										</tr>
									</thead>
									<tbody>
										<%	let rows = data.dataset?.rows;
										if(rows && rows.length>0) { 
											for(let index=0; index < rows.length; index++) { 
												let item = rows[index];
												let fault_status = item?.fault_status=="1"?"สำเร็จ":"ไม่สำเร็จ";
												let fault_type = item?.fault_type_text;
												let fault_nature = ""; 
												let fault_location = item?.fault_location_text;
												if(item?.fault_type=="1") fault_type = "ข่มขืนโดยใช้กำลังบังคับ";
												else if(item?.fault_type=="2") fault_type = "ข่มขืนขณะมึนเมา";
												else if(item?.fault_type=="3") fault_type = "ข่มขืนโดยการบังคับด้วยวิธีอื่น (ไม่ได้ใช้กำลังบังคับโดยตรง)";
												else if(item?.fault_type=="4") fault_type = "ถูกรุมโทรม";
												else if(item?.fault_type=="5") fault_type = "ทารุณทางเพศ";
												else if(item?.fault_type=="6") fault_type = "กระทำอนาจาร (มีการแตะเนื้อต้องตัว กอด จูบ ลูบ คลำ) ";
												else if(item?.fault_type=="7") fault_type = "พูดจาลวนลาม/ลอบแอบมอง";
												else if(item?.fault_type=="8") fault_type = "พูดจาลวนลาม/ลอบแอบมอง (ในสถานที่ทำงาน)";
												else if(item?.fault_type=="9") fault_type = "สะกดรอย/ลอบติดตาม";
												else if(item?.fault_type=="10") fault_type = "คุกคามทางเพศ";												
												if(item?.fault_nature=="1") fault_nature = "ข่มขืนหรือถูกบังคับให้มีเพศสัมพันธ์ โดยข่มขู่ กักขัง หรือทำร้ายร่างกาย";
												else if(item?.fault_nature=="2") fault_nature = "พยายามบังคับให้มีเพศสัมพันธ์ โดยข่มขู่ กักขัง ทำร้ายร่างกาย แต่ไม่เกิดเหตุการณ์ขึ้น";
												else if(item?.fault_nature=="3") fault_nature = "ข่มขืนขณะมึนเมา";
												else if(item?.fault_nature=="4") fault_nature = "ถูกรุมโทรม";
												else if(item?.fault_nature=="5") fault_nature = "ถูกบังคับ ข่มขู่ หรือแบล็กเมล์ให้มีเพศสัมพันธ์กับบุคคลอื่น หรือเพื่อแลกกับเงิน สิ่งของ หรือความช่วยเหลือ";
												else if(item?.fault_nature=="6") fault_nature = "มีเพศสัมพันธ์ที่ไม่ต้องการ เพราะกลัวสิ่งที่อาจเกิดขึ้นหากปฏิเสธ";
												else if(item?.fault_nature=="7") fault_nature = "กระทำอนาจาร (มีการแตะเนื้อต้องตัว กอด จูบ ลูบ คลำ หรือเปลื้องผ้าเหยื่อ)";
												else if(item?.fault_nature=="8") fault_nature = "มีคนทำหรือบังคับให้ท่านกระทำในลักษณะทางเพศที่ทำให้เสื่อมเสียหรืออับอาย";
												else if(item?.fault_nature=="9") fault_nature = "ได้รับข้อเสนอทางเพศหรือขอมีความสัมพันธ์ทางเพศที่ไม่ต้องการ";
												else if(item?.fault_nature=="10") fault_nature = "ได้รับข้อความ อีเมล หรือการโทรศัพท์ ในทางเพศ";
												else if(item?.fault_nature=="11") fault_nature = "ข้อความ รูปภาพ หรือวิดีโอทางเพศของท่านถูกเผยแพร่ผ่านอินเทอร์เน็ตหรือถูกส่งต่อโดยไม่ได้รับความยินยอม";
												else if(item?.fault_nature=="12") fault_nature = "มีผู้วิพากษ์วิจารณ์หรือแสดงความคิดเห็นในทางเพศเกี่ยวกับรูปร่างหน้าตาหรือร่างกาย";
												else if(item?.fault_nature=="13") fault_nature = "มีผู้ข่มขู่ว่าจะล่วงละเมิดทางเพศ (แต่ไม่ได้ลงมือ) เช่น ข่มขู่ว่าจะข่มขืน หรือขู่ว่าจะทำให้ตั้งครรภ์";
												else if(item?.fault_nature=="14") fault_nature = "สะกดรอย/ ลอบติดตาม";
												else if(item?.fault_nature=="15") fault_nature = "มีผู้เปลือยกายหรือเปิดเผยร่างกายในทางเพศต่อหน้าท่าน";
												else if(item?.fault_nature=="16") fault_nature = "ได้รับของกำนัลในทางเพศที่ไม่ต้องการ เช่น ของเล่น เครื่องประดับ หรือชุดชั้นใน";												
												if(item?.fault_location=="1") fault_location = "บ้าน/ที่อยู่อาศัยส่วนตัว";
												else if(item?.fault_location=="2") fault_location = "สถานที่เชิงพาณิชย์ เช่น ร้านอาหาร ห้างสรรพสินค้า ร้านค้า ฯลฯ";
												else if(item?.fault_location=="3") fault_location = "สถานที่ประกอบธุรกิจที่สงวนเฉพาะบุคคล เช่น อาคารสำนักงาน โรงงาน โกดัง ฯลฯ";
												else if(item?.fault_location=="4") fault_location = "สถานศึกษา เช่น โรงเรียน มหาวิทยาลัย ฯลฯ";
												else if(item?.fault_location=="5") fault_location = "สถานดูแล เช่น โรงพยาบาล คลินิก บ้านพักคนชรา ฯลฯ";
												else if(item?.fault_location=="6") fault_location = "สถานที่สาธารณะ เช่น ถนน ตลาด สวนสาธารณะ ขนส่งสาธารณะ ฯลฯ";
												else if(item?.fault_location=="7") fault_location = "ช่องทางออนไลน์/อุปกรณ์โทรศัพท์เคลื่อนที่";
												%>
										<tr data-survey="<%=item?.survey_id%>" data-master="<%=item?.master_id%>">
											<td class="tg-0lax text-center"><%=index+1%></td>
											<td class="tg-0laa text-left"><%=fault_nature%></td>
											<td class="tg-0laa text-left"><%=fault_type%></td>
											<td class="tg-0laa"><%=fault_status%></td>
											<td class="tg-0laa text-left"><%=fault_location%></td>
											<td class="tg-0laa nowrap">
												<a href="javascript:void(0)" class="bx-edit-linker ui basic black button tiny"><i class="edit icon large"></i></a>
												<a href="javascript:void(0)" class="bx-delete-linker ui basic red button tiny"><i class="trash icon large"></i></a>								
											</td>
										</tr>
										<% 	} 
										} else {%>
										<tr>
											<td colspan="6" class="tg-0lax text-center">ไม่พบข้อมูล</td>
										</tr>
										<%}%>
									</tbody>
								</table>
